#title{
    font-family: Poppins;
}
.tagline{
    font-size: 23px;
    font-family: Montserrat; 
    font-weight:700;
    color: white;
}
.title1{
    line-height: 28px;
}
.brand{
    font-size: 32px;
    font-family: Montserrat; 
    font-weight:700;
    color: white;
    text-decoration: underline;
}
.fixed-topp{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 0px;
    z-index: 1030;
}
.sec-head{
color: #49BBBD;
font-size: 28px;
text-transform: none;
font-weight: 600;
}
.ch {
    margin-top: 119px;
    position: relative;
    padding: 50px 0px;
}
.eg{
    margin-left: -234px;
    margin-right: 276px;
    /* margin-top: 10px; */
}
.abus{
    margin-top: 184px;
}
.abus1{
    margin-top: 145px;
}
.tagi{
    border-radius: 50px;
}
.sh{
    margin-left:-140px;
    padding-top: 26px;
    padding-bottom: 26px;
}
.hp{
    margin-top: 202px;
}
.guide{
    font-size: 14px;
    color: white;
}
.box2{
    margin-top:43px;
}
input#image,input#store_name, input#store_type,input#owner_type, input#website,input#contact_number,input#contact_email {
    padding:0 40px;
    width:40%;
    height:55px;
    border: 1px solid #dadada;
    color: grey;
    text-align:justify;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight:normal;
    font-family: 'Muli', sans-serif;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -o-border-radius:30px;
    -ms-border-radius:30px; 
    width: 100%;
    height: 120px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 20px;
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
    position: relative;
    z-index: 3;
}
.chi{
    background-color: #49BBBD;
    border-width: 0px;
}
/* input#image:focus,input#store_name:focus, input#store_type:focus,input#owner_type:focus, input#website:focus,input#contact_number:focus,input#contact_email:focus  {
    /* background-color:white; !important; */
    /* border:1px solid #dadada; */
/* } */ 
input::-webkit-input-placeholder {
    color: grey;
    } 
    input:-moz-placeholder { /* Firefox 18- */
    color: grey;  
    } 
    input::-moz-placeholder {  /* Firefox 19+ */
    color: grey;  
    } 
    input:-ms-input-placeholder {  
    color: grey;  
    }
    label.header {
        font-size: 16px;
        font-weight: 500;
        width: 215px;
        color: rgb(255, 255, 255);
        margin-right:10px;
        text-align:justify;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        font-family: 'Nunito', sans-serif;
    }
#choose_file{
    padding-top: 11px;
}
/* #form-control input{
    padding-top: 11px;
} */
/* #hi{
    padding-top: 11px;
} */

.section-heading_home h2 {
    font-size: 47px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0;
    line-height: 44px;
  }
  
  .section-heading_home h2 em {
    color: #49BBBD;
    font-style: normal;
  }
.sh_help{
  margin-left: 52px;
  margin-top: 93px;
  padding-top: 26px;
  width: 150%;
  padding-bottom: 26px;
}
.sel{
    transition : all 0.4s;
    
  }
  .sel:hover{
    transform: scale(1.08);
    border-left : 3px solid #49BBBD;
    border-bottom: 3px solid #49BBBD;
  }
  .hz{
    --bs-gutter-x:10.5rem;
}

.like-dislike {
    /* display: flex;
    /* justify-content: center; horizontal alignment 
    align-items: center;  */
    /* display: flex; */
    /* align-items: center; */
    /* margin-top: -10px;
    height: 143px;
    width: 46px;
    margin-left: 28px; */
    margin-top: -10px;
    height: 151px;
    width: 40px;
    margin-left: 32px;
    /* border: 2px solid red */
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #like-btn1, #like-btn2, #like-btn3, #like-btn4 {
    margin-left: 0px;
    border: none;
    margin-top: -1px;
    background-color: rgba(73, 187, 189, 0.10000000149011612);
    height: 32px;
    width: 32px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border-color: #49BBBD;
    border: 2px solid #49BBBD;
  }
  
  #dislike-btn1, #dislike-btn2, #dislike-btn3, #dislike-btn4 {
    border: none;
    margin-left: 0px;
    margin-top: 44px;
    height: 32px;
    width: 32px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(73, 187, 189, 0.10000000149011612);
    border-color: #49BBBD;
    border: 2px solid #49BBBD;
  }
  
  #counter1, #counter2, #counter3, #counter4 {
    margin-left: -26px;
    margin-top: 30px;
    font-size: 32px;
    position: absolute;
  }
  
  #bookmarks-btn1, #bookmarks-btn2, #bookmarks-btn3, #bookmarks-btn4{
    border: none;
    margin-left: 0px;
    margin-top: 10px;
    height: 32px;
    width: 32px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(73, 187, 189, 0.10000000149011612);
    border-color: #49BBBD;
    border: 2px solid #49BBBD;
  }

  .surf{
    margin-right: 15px;
  }

  .search-row{
    /* padding-right: calc(var(--bs-gutter-x) * 4); */
  }
  .add_c{
    text-decoration: underline;
    color: #49BBBD;
  }
  .dis-inl{
    display: inline-block;
  }
  .modify1{
    margin-left: 99px;
  }
  .modify2{
    margin-top: 180px;
  }
  .post-img{
    padding-left: 127px;
  }
  .set-badge{
    margin-top: 81px;
    margin-bottom: -49px
  }
.mar{
  margin-right: 8px;
}




