<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/bookmarks.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>
<body>
<div class="bookmarks-bookmarks">
<div class="container-fluid">
  <div class="all-users-group427319017 ">
  <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
    <div class="container-fluid">
        <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
        <a class="navbar-brand" href="#">BugSearch</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <form class="d-flex search" role="search">
            <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search_btn" type="submit">Search</button>
          </form>
          <li class="nav-item badges-vector">
            <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
          </li>
          <li class="nav-item username">
            <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
          </li>
          <li class="nav-item logout">
            <a class="nav-link active" aria-current="page" href="#">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Help</a>
          </li>
        </ul>       
      </div>
    </div>
  </nav>
</div>
</div>
        <span class="bookmarks-text13"><span>Bookmarks</span></span>
        <span class="bookmarks-text15"><span>Questions</span></span>
        <span><button type="button" class="btn btn-primary bookmarks-rectangle">Question 1</button></span>
        <span><button type="button" class="btn btn-primary bookmarks-rectangle1">Question 1</button></span>
        <span><button type="button" class="btn btn-primary bookmarks-rectangle2">Question 1</button></span>
        <span><button type="button" class="btn btn-primary bookmarks-rectangle3">Question 1</button></span>
        <span><button type="button" class="btn btn-primary bookmarks-rectangle4">Question 1</button></span>
        <span><button type="button" class="btn btn-primary bookmarks-rectangle5">Question 1</button></span>
        <span><button type="button" class="btn btn-primary bookmarks-rectangle6">Question 1</button></span>
        <span class="bookmarks-text17"><span>Answers</span></span>
        <div class="bookmarks-group427319020">
          <span><button type="button" class="btn btn-primary bookmarks-rectangle118">Question 1</button></span>
          <span><button type="button" class="btn btn-primary bookmarks-rectangle119">Question 1</button></span>
          <span><button type="button" class="btn btn-primary bookmarks-rectangle120">Question 1</button></span>
          <span><button type="button" class="btn btn-primary bookmarks-rectangle122">Question 1</button></span>
          <div class="bookmarks-group427318991">
            <a class="bookmarks-text31 sidehover" href="#">Bookmarks</a>
            <i class="fa-solid fa-bookmark bookmarks-bookmarks1"></i>
          </div>
          <div class="bookmarks-group427318990">
            <a class="bookmarks-text33 sidehover" href="#">Answer a Question</a>
            <i class="fa-solid fa-lightbulb bookmarks-lightbulb"></i>
          </div>
          <div class="bookmarks-group427318989">
            <a class="bookmarks-text35 sidehover" href="#">Ask a Question</a>
            <i class="fa-solid fa-question bookmarks-question"></i>
          </div>
          <div class="bookmarks-group427319024">
            <span><button type="button" class="btn btn-primary bookmarks-rectangle114">Question 1</button></span>
            <span><button type="button" class="btn btn-primary bookmarks-rectangle115">Question 1</button></span>
            <span><button type="button" class="btn btn-primary bookmarks-rectangle116">Question 1</button></span>
            <span><button type="button" class="btn btn-primary bookmarks-rectangle121">Question 1</button></span>
            <div class="bookmarks-group427318992">
              <a class="bookmarks-text49 sidehover" href="#">Trending</a>
              <i class="fa-solid fa-globe bookmarks-globe-stand"></i>
            </div>
          </div>
          <div class="bookmarks-group427318987">
            <a class="bookmarks-text51 sidehover" href="#">Dashboard</a>
            <i class="fa-solid fa-user bookmarks-user-circle"></i>
          </div>
          <div class="bookmarks-group427318988">
            <a class="bookmarks-text53 sidehover" href="#">Recommendations</a>
            <i class="fa-solid fa-wand-magic-sparkles bookmarks-magic-wand"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  