<!DOCTYPE html>
<head>
<title>
    my name is raja kumar  
</title>

<style>
  .comment-list {
  display: none; /* hide the comment list by default */
}

</style>
</head>
<html>
<body>

  <div class="question">
    <p>Question text goes here</p>
    <button class="show-comments" display="none">Show Comments</button>
    <ul class="comment-list"></ul>
  </div>
    
  
<script>



// Get all the "show-comments" buttons on the page
var showButtons = document.querySelectorAll(".show-comments");

// Loop through the buttons
showButtons.forEach(function(button) {
  // Add a click event listener to the button
  button.addEventListener("click", function(event) {
    // Get the comment list element for this button
    var commentList = button.nextElementSibling;

    // Toggle the display of the comment list
    if (commentList.style.display === "none") {
      commentList.style.display = "block";
      // Here, you can use AJAX to fetch and display the comments dynamically
      // For example: fetchComments(questionId, commentList);
    } else {
      commentList.style.display = "none";
    }
  });
});





















</script>
</body>
</html>