<!DOCTYPE html>
<html lang="en">
<!-- @login_required -->
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

     <link rel="icon" type="image/x-icon" href="{{ url_for ('static',filename='assets/images/logo.png') }}" alt="image">
    <title>BugSearch</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-scholar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
<link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/our_c.css') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <image id="profileImage" src="http://lorempixel.com/100/100" />
    <input id="imageUpload" type="file" 
       name="profile_photo" placeholder="Photo" required="" capture>
<!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky background-header fixed-topp">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav navcolor navbar-dark">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{url_for('homepage')}}" class="logo">
                        <h1 id="title">BugSearch</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Serach Start ***** -->
                    <div class="search-input">
                      <form id="search" action="{{url_for('search_login')}}" method="POST">
                          <input type="text" placeholder="Type Something" id='searchText' name="keyword" value="{{request.form['keyword']}}"/>
                          <i type="submit" class="fa fa-search"></i>
                      </form>
                  </div>
                    <!-- ***** Serach Start ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <!-- <li class="scroll-to-section"><a href="#top" class="active">Home</a></li> -->
                      <!-- <li class="scroll-to-section"><a href="#services">Login</a></li> -->
                      <li class="scroll-to-section"><a href="{{url_for('user_home')}}">Home</a></li>
                      <li class="scroll-to-section"><a href="{{url_for('dashboard')}}">{{current_user.username}}</a></li>
                      <li class="scroll-to-section"><a href="{{url_for('logout')}}">Logout</a></li>
                      <li class="scroll-to-section"><a href="{{url_for('help_with_login')}}">Help</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** --> 

  <div class="contact-us ch section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  align-self-center">
          
          <div>
            <h6 class="sec-head">Complete Your Profile !</h6>
            <img class="tagi" src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/e1a8cdfdfc60379e1efc21fa662da8673db729e6">
            <!-- <h6>Contact Us</h6>
            <h2>Feel free to contact us anytime</h2>
            <p>Thank you for choosing our templates. We provide you best CSS templates at absolutely 100% free of charge. You may support us by sharing our website to your friends.</p>
            <div class="special-offer">
              <span class="offer">off<br><em>50%</em></span>
              <h6>Valide: <em>24 April 2036</em></h6>
              <h4>Special Offer <em>50%</em> OFF!</h4>
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-us-content">
            {% for message in get_flashed_messages() %} 
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
            <form enctype="multipart/form-data" id="contact-form" action="{{url_for('complete_your_profile')}}" method="post">
              <div class="row">
                <div class="col-lg-12">
                    <span class="guide">By providing information about yourself, we personalize your experience which includes recommendations, notifications, and other features that are tailored to your interests and preferences. It would also help you make strong connections across the globe leading to valuable networking opportunities!</span>
                  <!-- <span class="tagline">Email address</span>
                  <fieldset>
                    <input type="name" name="name" id="name" placeholder="Your E-mail ..." autocomplete="on" required>
                  </fieldset>-->
                  <br>
                  <br>
                </div> 
               
                <div class="col-lg-12">
                    <div class="form-control chi choose_file">
                        <span class="tagline">Profile Photo</span>
                        
                        <input class = "choose_file" id="image2" type="file" name="profile_img" placeholder="Photo" value="{{current_user.profile_image_url}}" capture>
                    </div>
                    <!-- <span class="tagline">Password</span>
                    <fieldset>
                      <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Password..." required="">
                    </fieldset> -->
                </div>
                <div class="col-lg-12">
                    <span class="tagline">About</span>
                  <fieldset>
                    <textarea name="about" id="about" placeholder="Your Message" value="{{current_user.about or request.form['about']}}"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                    <span class="tagline">Interests</span>
                    <fieldset>
                      <input type="text" name="tags" id="tags"  placeholder="Select Yor Tags" required="" value="{{request.form['tags']}}">
                    </fieldset>
                  </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="styleb orange-button">Save Now
                   <span class="first"></span>
                      <span class="second"></span>
                      <span class="third"></span>
                      <span class="fourth"></span>
                    </button>
                    <button type="submit" id="form-submit" class="styleb orange-button">Skip
                   <span class="first"></span>
                      <span class="second"></span>
                      <span class="third"></span>
                      <span class="fourth"></span>
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2036 BugSearch. All rights reserved. &nbsp;&nbsp;&nbsp; Design: BugSearch</p>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/counter.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  <!-- <script src="assets/js/our.jss"></script> -->

  </body>
</html>
