<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/following.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>
    <div>
      <div class="following-page-following-page">
        <span class="following-page-text"><span>FOLLOWING</span></span>
        
        <img
          src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/8d3fdb2b3ef5c377299e78fe2292668459f78ab0"
          alt="Followingremovebgpreview11532"
          class="following-page-followingremovebgpreview1"
        />
        <div>
        <span><button type="button" class="btn btn-primary following-page-rectangle">Question 1</button></span>
        <span><button type="button" class="btn btn-primary following-page-rectangle1">Question 1</button></span>
        <span><button type="button" class="btn btn-primary following-page-rectangle2">Question 1</button></span>
        <span><button type="button" class="btn btn-primary following-page-rectangle3">Question 1</button></span>
        <span><button type="button" class="btn btn-primary following-page-rectangle4">Question 1</button></span>
        <span><button type="button" class="btn btn-primary following-page-rectangle5">Question 1</button></span>
        <span><button type="button" class="btn btn-primary following-page-rectangle6">Question 1</button></span>
        <span><button type="button" class="btn btn-primary following-page-rectangle7">Question 1</button></span>
        <i class="fa-solid fa-user fa-2x following-page-user-circle "></i>
        <i class="fa-solid fa-user fa-2x following-page-user-circle1 "></i>
        <i class="fa-solid fa-user fa-2x following-page-user-circle2 "></i>
        <i class="fa-solid fa-user fa-2x following-page-user-circle3 "></i>
        <i class="fa-solid fa-user fa-2x following-page-user-circle4 "></i>
        <i class="fa-solid fa-user fa-2x following-page-user-circle5 "></i>
        <i class="fa-solid fa-user fa-2x following-page-user-circle6 "></i>
        <i class="fa-solid fa-user fa-2x following-page-user-circle7 "></i>
        <!-- <img
          src="/playground_assets/usercircle1532-mo8s.svg"
          alt="UserCircle1532"
          class="following-page-user-circle"
        />
        <img
          src="/playground_assets/usercircle1532-poh.svg"
          alt="UserCircle1532"
          class="following-page-user-circle1"
        />
        <img
          src="/playground_assets/usercircle1532-ya5p.svg"
          alt="UserCircle1532"
          class="following-page-user-circle2"
        />
        <img
          src="/playground_assets/usercircle1532-yfne.svg"
          alt="UserCircle1532"
          class="following-page-user-circle3"
        />
        <img
          src="/playground_assets/usercircle1532-rhr.svg"
          alt="UserCircle1532"
          class="following-page-user-circle4"
        />
        <img
          src="/playground_assets/usercircle1532-67uu.svg"
          alt="UserCircle1532"
          class="following-page-user-circle5"
        />
        <img
          src="/playground_assets/usercircle1532-n03.svg"
          alt="UserCircle1532"
          class="following-page-user-circle6"
        />
        <img
          src="/playground_assets/usercircle1532-sk2b.svg"
          alt="UserCircle1532"
          class="following-page-user-circle7">
        </div> -->
      </div>
        <div class="following-page-group427319019">
          <!-- <div class="following-page-group427319016"> -->
            <div class="container-fluid">
              <!-- <div class="all-users-group427319017 "> -->
              <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
                <div class="container-fluid">
                    <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
                    <a class="navbar-brand" href="#">BugSearch</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <form class="d-flex search" role="search">
                        <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success search_btn" type="submit">Search</button>
                      </form>
                      <li class="nav-item badges-vector">
                        <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
                      </li>
                      <li class="nav-item username">
                        <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
                      </li>
                      <li class="nav-item logout">
                        <a class="nav-link active" aria-current="page" href="#">Logout</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Help</a>
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </nav>
            </div>
          </div>
        <div class="following-page-sidebar-a">
          <div class="following-page-note-pencil"></div>
          <div class="following-page-group427318966">
            <a class="following-page-text31 sidehover" href="#">User Profile</a>
            <i class="fa-solid fa-user following-page-identification-badged"></i>
            <i class="fa-solid fa-angle-right following-page-arrow-line-rights"></i>
          </div>
          <div class="following-page-group427318973">
            <i class="fa-solid fa-house following-page-identification-cardd"></i>
            <div class="following-page-group427318967">
              <a class="following-page-text33 sidehover" href="#">User Home</a>
              <i class="fa-solid fa-angle-right following-page-arrow-line-rights01"></i>
            </div>
          </div>
          <div class="following-page-group427318974">
            <i class="fa-solid fa-users-line following-page-users-threed"></i>
            <div class="following-page-group427318968">
              <a class="following-page-text35 sidehover" href="#">Followers</a>
              <i class="fa-solid fa-angle-right following-page-arrow-line-rights02"></i>
            </div>
          </div>
          <div class="following-page-group427318975">
            <i class="fa-solid fa-award following-page-vector1"></i>
            <div class="following-page-group427318969">
              <a class="following-page-text37 sidehover" href="#">Badges</a>
              <i class="fa-solid fa-angle-right following-page-arrow-line-rights03"></i>
            </div>
          </div>
          <div class="following-page-group427319041">
            <i class="fa-solid fa-pen-to-square following-page-vector2"></i>
            <a class="following-page-text39 sidehover" href="#">Edit Profile</a>
            <i class="fa-solid fa-angle-right following-page-arrow-line-rights04"></i>
          </div>
          <div class="following-page-group427319042">
            <a class="following-page-text41 sidehover" href="#">Posted Questions</a>
            <i class="fa-solid fa-question following-page-seal-question"></i>
            <i class="fa-solid fa-angle-right following-page-arrow-line-rights05"></i>
          </div>
          <div class="following-page-group427318984">
            <a class="following-page-text43 sidehover" href="#">Following</a>
            <i class="fa-solid fa-user-group following-page-users"></i>
            <i class="fa-solid fa-angle-right following-page-arrow-line-rights06"></i>
          </div>
          <div class="following-page-group427319040">
            <a class="following-page-text45 sidehover" href="#">Posted Answers</a>
            <i class="fa-solid fa-angle-right following-page-arrow-line-rights07"></i>
            <i class="fa-solid fa-lightbulb following-page-vector3"></i>
          </div>
          <div class="following-page-group427319044">
            <a class="following-page-text47 sidehover" href="#">Posted Comments</a>
            <i class="fa-solid fa-angle-right following-page-arrow-line-rights08"></i>
            <i class="fa-solid fa-comment following-page-chats-circle"></i>
          </div>
          <div class="following-page-group4273189741">
            <i class="fa fa-users following-page-users-threed1"></i>
            <div class="following-page-group4273189681">
              <a class="following-page-text49 sidehover" href="#">All Users</a>
              <i class="fa-solid fa-angle-right following-page-arrow-line-rights09"></i>
            </div>
          </div>
          <div class="following-page-group427319043">
            <i class="fa-solid fa-bookmark following-page-bookmarks"></i>
            <div class="following-page-group4273189682">
              <a class="following-page-text51 sidehover" href="#">Bookmarks</a>
              <i class="fa-solid fa-angle-right following-page-arrow-line-rights10"></i>
            </div>
          </div>
          <div class="following-page-profilename">
            <i class="fa-solid fa-user fa-2x user_icon following-page-vector4"></i>
            <a class="following-page-text53 sidehover" href="#">Username</a>
          </div>
          <span class="following-page-text55"><span>BugSearch</span></span>
        </div>
      </div>
      </div>
    </div>
  
  