<!DOCTYPE html>
<html lang="en">
<!-- @login_required -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static',filename='assets/images/logo.png') }}" alt="image">
    <title>BugSearch</title>

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-scholar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/our_c.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/side.css') }}">

</head>
</head>
<body>
<div class="wrapper">
  <nav id="sidebar" class="sticky-top">
    <div class="sidebar-header">
        <hr>
    </div>
    <ul class="list-unstyled components navbar-nav mr-auto">
        <p>{{current_user.username}}</p>
        <li> <a href="{{url_for('dashboard')}}" class="dis-inl" ><i class="fa-solid fa-user trending-user-circle dis-inl mar" style="color:black"></i>User Profile</a></li>
        <li> <a href="{{url_for('user_home')}}" class="dis-inl"><i class="fa-solid fa-house followers-page-identification-cardd dis-inl mar" style="color:black"></i>User Home</a> </li>
        <li> <a href="{{url_for('complete_your_profile')}}" class="dis-inl"><i class="fa-solid fa-pen-to-square followers-page-vector2 dis-inl mar" style="color:black"></i>Edit Profile</a> </li>
        <li> <a href="{{url_for('followers')}}" class="dis-inl" style="background-color: #49BBBD"><i class="fa-solid fa-user-group followers-page-users dis-inl mar" style="color:black"></i>Followers</a> </li>
        <li> <a href="{{url_for('following')}}" class="dis-inl"><i class="fa-solid fa-user-group followers-page-users dis-inl mar" style="color:black"></i>Following</a> </li>
        <li> <a href="{{url_for('trending')}}" class="dis-inl"><i class="fa-solid fa-globe recommendations-globe-stand dis-inl mar" style="color:black"></i>Trending</a> </li>
        <li> <a href="{{url_for('recommendations')}}" class="dis-inl"><i class="fa-solid fa-wand-magic-sparkles trending-magic-wand dis-inl mar" style="color:black"></i>Recommendations</a> </li>
        <li> <a href="{{url_for('all_users')}}" class="dis-inl"><i class="fa fa-users followers-page-users-threed1 dis-inl mar" style="color:black"></i>All Users</a> </li>
        <li> <a href="{{url_for('bookmarks')}}" class="dis-inl"><i class="fa-solid fa-bookmark trending-bookmarks dis-inl mar" style="color:black"></i>Bookmarks</a> </li>
        <li> <a href="{{url_for('post_question')}}" class="dis-inl"><i class="fa-solid fa-question trending-question dis-inl mar" style="color:black"></i>Post Question</a> </li>
        <li> <a href="{{url_for('posted_questions')}}" class="dis-inl"><i class="fa-solid fa-question trending-question dis-inl mar" style="color:black"></i>Posted Questions</a> </li>

</nav>
    <div class="content">
        <header class="header-area header-sticky background-header fixed-topp">
            <nav class="main-nav navcolor navbar-dark">
             <button type="button" id="sidebarCollapse" class="btn btn-info info"> <i class="fa fa-align-justify"></i> </button> 
             <a href="{{url_for('homepage')}}" class="logo">
                <h1 id="title">BugSearch</h1>
            </a>
             <div class="search-input">
                <form id="search" action="#">
                  <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                  <i class="fa fa-search"></i>
                </form>
              </div>
            <ul class="nav"> 

              <li class="scroll-to-section"><a href="{{url_for('user_home')}}">Home</a></li>
              <li class="scroll-to-section"><a href="{{url_for('dashboard')}}">{{current_user.username}}</a></li>
              <li class="scroll-to-section"><a href="{{url_for('logout')}}">Logout</a></li>
              <li class="scroll-to-section"><a href="{{url_for('help_with_login')}}">Help</a></li>
            </ul>   
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a> 

        </nav>
    </header>

    <div class="section events" id="events">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-heading">
              <!-- <h6>Schedule</h6> -->
              <h2>Followers : {{user.nfollowers}}</h2>
            </div>
          </div>

          {% for follower in follower_list %}
          <div class="col-lg-12 col-md-6 hz">
            <div class="item sel">
              <div class="row">
                <div class="col-lg-3">
                  <div class="image">
                    <img src="assets/images/event-02.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul>
                    <li>
                      <span class="category">{{follower.username}}</span>
                      <h4>{{follower.username}}</h4>
                    </li>
                  </ul>
                  <a href="#"><i class="fa fa-angle-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
        <div class="content-wrapper">
            <!-- <div class="line"></div> -->
        </div>
    </div>
</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/counter.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/our.js') }}"></script>


</body>
</html>