<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/followers.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>
<body>
<div>
    <div>
      <div class="followers-page-followers-page">
        <img
          src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/14ed4a383231ec5ab7ac20dec817ef346b1a619e"
          alt="Followers11412"
          class="followers-page-followers1"
        />
        <span class="followers-page-text"><span>FOLLOWERS</span></span>
        <div class="tabs">
        <button type="button" class="btn btn-primary followers-page-rectangle ">Follower 1</button>
        <button type="button" class="btn btn-primary followers-page-rectangle1">Follower 1</button>
        <button type="button" class="btn btn-primary followers-page-rectangle2">Follower 1</button>
        <button type="button" class="btn btn-primary followers-page-rectangle3">Follower 1</button>
        <button type="button" class="btn btn-primary followers-page-rectangle4">Follower 1</button>
        <button type="button" class="btn btn-primary followers-page-rectangle5">Follower 1</button>
        <button type="button" class="btn btn-primary followers-page-rectangle6">Follower 1</button>
        <button type="button" class="btn btn-primary followers-page-rectangle7">Follower 1</button>
      </div>
        <!-- <img
          src="https://www.flaticon.com/free-icon/account_3033143?term=user&page=1&position=35&origin=search&related_id=3033143"
          alt="UserCircle1413"
          class="followers-page-user-circle"
        /> -->
        <i class="fa-solid fa-user fa-2x followers-page-user-circle "></i>
        <i class="fa-solid fa-user fa-2x followers-page-user-circle1 "></i>
        <i class="fa-solid fa-user fa-2x followers-page-user-circle2 "></i>
        <i class="fa-solid fa-user fa-2x followers-page-user-circle3 "></i>
        <i class="fa-solid fa-user fa-2x followers-page-user-circle4 "></i>
        <i class="fa-solid fa-user fa-2x followers-page-user-circle5 "></i>
        <i class="fa-solid fa-user fa-2x followers-page-user-circle6 "></i>
        <i class="fa-solid fa-user fa-2x followers-page-user-circle7 "></i>
        <!-- <i class="fa-solid fa-user-vneck followers-page-user-circle" style="color: #000000;"></i> -->
        <!-- <img
          src="C:\Users\disha\Downloads\account.png"
          alt="UserCircle1413"
          class="followers-page-user-circle1"
        /> -->

        <!-- <img
          src="/playground_assets/usercircle1413-orvf.svg"
          alt="UserCircle1413"
          class="followers-page-user-circle2"
        />
        <img
          src="/playground_assets/usercircle1413-r5or.svg"
          alt="UserCircle1413"
          class="followers-page-user-circle3"
        />
        <img
          src="/playground_assets/usercircle1413-2jp.svg"
          alt="UserCircle1413"
          class="followers-page-user-circle4"
        />
        <img
          src="/playground_assets/usercircle1413-va8.svg"
          alt="UserCircle1413"
          class="followers-page-user-circle5"
        />
        <img
          src="/playground_assets/usercircle1413-rgfb.svg"
          alt="UserCircle1413"
          class="followers-page-user-circle6"
        />
        <img
          src="/playground_assets/usercircle1413-y8yp.svg"
          alt="UserCircle1413"
          class="followers-page-user-circle7"
        /> -->
        <div><link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,600;1,400&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
            
        <!-- <span class="followers-page-text02"><span>Follower 1</span></span>
        <span class="followers-page-text04"><span>Follower 1</span></span>
        <span class="followers-page-text06"><span>Follower 1</span></span>
        <span class="followers-page-text08"><span>Follower 1</span></span>
        <span class="followers-page-text10"><span>Follower 1</span></span>
        <span class="followers-page-text12"><span>Follower 1</span></span>
        <span class="followers-page-text14"><span>Follower 1</span></span>
        <span class="followers-page-text16"><span>Follower 1</span></span> -->
      </div>
        <div class="followers-page-group427319019">
          <!-- <div class="followers-page-group427319016"> -->
                    <!-- <div class="followers-page-group427319016"> -->
                      <div class="container-fluid">
                        <!-- <div class="all-users-group427319017 "> -->
                        <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
                          <div class="container-fluid">
                              <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
                              <a class="navbar-brand" href="#">BugSearch</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <form class="d-flex search" role="search">
                                  <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
                                  <button class="btn btn-outline-success search_btn" type="submit">Search</button>
                                </form>
                                <li class="nav-item badges-vector">
                                  <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
                                </li>
                                <li class="nav-item username">
                                  <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
                                </li>
                                <li class="nav-item logout">
                                  <a class="nav-link active" aria-current="page" href="#">Logout</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Help</a>
                                </li>
                              </ul>
                              
                            </div>
                          </div>
                        </nav>
                      </div>
                    </div>
          <!-- <div class="followers-page-group427319016">
            <span class="followers-page-text18"><span>Home</span></span>
            <img
              src="/playground_assets/searchbar1673-92x.svg"
              alt="SearchBar1673"
              class="followers-page-search-bar"
            />
            <div class="followers-page-group455">
              <div class="followers-page-group229">
                <span class="followers-page-text20">
                  <span>
                    <span>LOGOUT</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
            </div>
            <span class="followers-page-text25"><span>Help</span></span>
            <img
              src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd"
              alt="Untitleddesign511673"
              class="followers-page-untitleddesign51"
            />
            <span class="followers-page-text27"><span>BugSearch</span></span>
          </div> -->
          <!-- <div class="followers-page-group427319018">
            <img
              src="/playground_assets/vector1633-h2wa.svg"
              alt="Vector1633"
              class="followers-page-vector"
            />
            <span class="followers-page-text29"><span>Username</span></span>
          </div> -->
        </div>
        <div class="followers-page-sidebar-a">
          <div class="followers-page-note-pencil"></div>
          <div class="followers-page-group427318966">
            <a class="followers-page-text31 sidehover" href="#">User Profile</a>
            <i class="fa-solid fa-user followers-page-identification-badged"></i>
            <i class="fa-solid fa-angle-right followers-page-arrow-line-rights"></i>
          </div>
          <div class="followers-page-group427318973">
            <i class="fa-solid fa-house followers-page-identification-cardd"></i>
            <div class="followers-page-group427318967">
              <a class="followers-page-text33 sidehover" href="#">User Home</a>
              <i class="fa-solid fa-angle-right followers-page-arrow-line-rights01"></i>
            </div>
          </div>
          <div class="followers-page-group427318974">
            <i class="fa-solid fa-users-line followers-page-users-threed"></i>
            <div class="followers-page-group427318968">
              <a class="followers-page-text35 sidehover" href="#">Followers</a>
              <i class="fa-solid fa-angle-right followers-page-arrow-line-rights02"></i>
            </div>
          </div>
          <div class="followers-page-group427318975">
            <i class="fa-solid fa-award followers-page-vector1"></i>
            <div class="followers-page-group427318969">
              <a class="followers-page-text37 sidehover" href="#">Badges</a>
              <i class="fa-solid fa-angle-right followers-page-arrow-line-rights03"></i>
            </div>
          </div>
          <div class="followers-page-group427319041">
            <i class="fa-solid fa-pen-to-square followers-page-vector2"></i>
            <a class="followers-page-text39 sidehover" href="#">Edit Profile</a>
            <i class="fa-solid fa-angle-right followers-page-arrow-line-rights04"></i>
          </div>
          <div class="followers-page-group427319042">
            <a class="followers-page-text41 sidehover" href="#">Posted Questions</a>
            <i class="fa-solid fa-question followers-page-seal-question"></i>
            <i class="fa-solid fa-angle-right followers-page-arrow-line-rights05"></i>
          </div>
          <div class="followers-page-group427318984">
            <a class="followers-page-text43 sidehover" href="#">followers</a>
            <i class="fa-solid fa-user-group followers-page-users"></i>
            <i class="fa-solid fa-angle-right followers-page-arrow-line-rights06"></i>
          </div>
          <div class="followers-page-group427319040">
            <a class="followers-page-text45 sidehover" href="#">Posted Answers</a>
            <i class="fa-solid fa-angle-right followers-page-arrow-line-rights07"></i>
            <i class="fa-solid fa-lightbulb followers-page-vector3"></i>
          </div>
          <div class="followers-page-group427319044">
            <a class="followers-page-text47 sidehover" href="#">Posted Comments</a>
            <i class="fa-solid fa-angle-right followers-page-arrow-line-rights08"></i>
            <i class="fa-solid fa-comment followers-page-chats-circle"></i>
          </div>
          <div class="followers-page-group4273189741">
            <i class="fa fa-users followers-page-users-threed1"></i>
            <div class="followers-page-group4273189681">
              <a class="followers-page-text49 sidehover" href="#">All Users</a>
              <i class="fa-solid fa-angle-right followers-page-arrow-line-rights09"></i>
            </div>
          </div>
          <div class="followers-page-group427319043">
            <i class="fa-solid fa-bookmark followers-page-bookmarks"></i>
            <div class="followers-page-group4273189682">
              <a class="followers-page-text51 sidehover" href="#">Bookmarks</a>
              <i class="fa-solid fa-angle-right followers-page-arrow-line-rights10"></i>
            </div>
          </div>
          <div class="followers-page-profilename">
            <i class="fa-solid fa-user fa-2x user_icon followers-page-vector4"></i>
            <a class="followers-page-text53 sidehover" href="#">Username</a>
          </div>
          <span class="followers-page-text55"><span>BugSearch</span></span>
        </div>
        <!-- <div class="followers-page-sidebar-a">
          <div class="followers-page-note-pencil"></div>
          <div class="followers-page-group427318966">
            <span class="followers-page-text31"><span>User Profile</span></span>
            <img
              src="/playground_assets/identificationbadged1882-wmfs.svg"
              alt="IdentificationBadged1882"
              class="followers-page-identification-badged"
            />
            <img
              src="/playground_assets/arrowlinerights1882-0j1.svg"
              alt="ArrowLineRights1882"
              class="followers-page-arrow-line-rights"
            />
          </div>
          <div class="followers-page-group427318973">
            <img
              src="/playground_assets/identificationcardd1882-74ka5.svg"
              alt="IdentificationCardd1882"
              class="followers-page-identification-cardd"
            />
            <div class="followers-page-group427318967">
              <span class="followers-page-text33"><span>User Home</span></span>
              <img
                src="/playground_assets/arrowlinerights1882-59b.svg"
                alt="ArrowLineRights1882"
                class="followers-page-arrow-line-rights01"
              />
            </div>
          </div>
          <div class="followers-page-group427318974">
            <img
              src="/playground_assets/usersthreed1882-6j4f.svg"
              alt="UsersThreed1882"
              class="followers-page-users-threed"
            />
            <div class="followers-page-group427318968">
              <span class="followers-page-text35"><span>Followers</span></span>
              <img
                src="/playground_assets/arrowlinerights1882-qwv.svg"
                alt="ArrowLineRights1882"
                class="followers-page-arrow-line-rights02"
              />
            </div>
          </div>
          <div class="followers-page-group427318975">
            <img
              src="/playground_assets/vector1882-u89.svg"
              alt="Vector1882"
              class="followers-page-vector1"
            />
            <div class="followers-page-group427318969">
              <span class="followers-page-text37"><span>Badges</span></span>
              <img
                src="/playground_assets/arrowlinerights1882-qvuq.svg"
                alt="ArrowLineRights1882"
                class="followers-page-arrow-line-rights03"
              />
            </div>
          </div>
          <div class="followers-page-group427319041">
            <img
              src="/playground_assets/vector1882-rdhl.svg"
              alt="Vector1882"
              class="followers-page-vector2"
            />
            <span class="followers-page-text39"><span>Edit Profile</span></span>
            <img
              src="/playground_assets/arrowlinerights1882-88do.svg"
              alt="ArrowLineRights1882"
              class="followers-page-arrow-line-rights04"
            />
          </div>
          <div class="followers-page-group427319042">
            <span class="followers-page-text41">
              <span>Posted Questions</span>
            </span>
            <img
              src="/playground_assets/sealquestion1882-sulj.svg"
              alt="SealQuestion1882"
              class="followers-page-seal-question"
            />
            <img
              src="/playground_assets/arrowlinerights1882-00vf.svg"
              alt="ArrowLineRights1882"
              class="followers-page-arrow-line-rights05"
            />
          </div>
          <div class="followers-page-group427318984">
            <span class="followers-page-text43"><span>followers</span></span>
            <img
              src="/playground_assets/arrowlinerights1882-4ed.svg"
              alt="ArrowLineRights1882"
              class="followers-page-arrow-line-rights06"
            />
            <img
              src="/playground_assets/users1882-hi0r.svg"
              alt="Users1882"
              class="followers-page-users"
            />
          </div>
          <div class="followers-page-group427319040">
            <span class="followers-page-text45"><span>Posted Answers</span></span>
            <img
              src="/playground_assets/arrowlinerights1882-06fo.svg"
              alt="ArrowLineRights1882"
              class="followers-page-arrow-line-rights07"
            />
            <img
              src="/playground_assets/vector1882-jsts.svg"
              alt="Vector1882"
              class="followers-page-vector3"
            />
          </div>
          <div class="followers-page-group427319044">
            <span class="followers-page-text47">
              <span>Posted Comments</span>
            </span>
            <img
              src="/playground_assets/arrowlinerights1882-4z5.svg"
              alt="ArrowLineRights1882"
              class="followers-page-arrow-line-rights08"
            />
            <img
              src="/playground_assets/chatscircle1882-li36.svg"
              alt="ChatsCircle1882"
              class="followers-page-chats-circle"
            />
          </div>
          <div class="followers-page-group4273189741">
            <img
              src="/playground_assets/usersthreed1882-746q.svg"
              alt="UsersThreed1882"
              class="followers-page-users-threed1"
            />
            <div class="followers-page-group4273189681">
              <span class="followers-page-text49"><span>All Users</span></span>
              <img
                src="/playground_assets/arrowlinerights1882-6c0n.svg"
                alt="ArrowLineRights1882"
                class="followers-page-arrow-line-rights09"
              />
            </div>
          </div>
          <div class="followers-page-group427319043">
            <img
              src="/playground_assets/bookmarks1882-k2ks.svg"
              alt="Bookmarks1882"
              class="followers-page-bookmarks"
            />
            <div class="followers-page-group4273189682">
              <span class="followers-page-text51"><span>Bookmarks</span></span>
              <img
                src="/playground_assets/arrowlinerights1882-22wi.svg"
                alt="ArrowLineRights1882"
                class="followers-page-arrow-line-rights10"
              />
            </div>
          </div>
          <div class="followers-page-profilename">
            <img
              src="/playground_assets/vectori188-ffzc.svg"
              alt="VectorI188"
              class="followers-page-vector4"
            />
            <span class="followers-page-text53"><span>Username</span></span>
          </div>
          <span class="followers-page-text55"><span>BugSearch</span></span>
        </div> -->
      </div>
    </div>
  </div>
</body>
</html>
  