<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@700&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/login_home.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>
<body>
    <div>
        <div>
          <div class="home-page-home-page">
            <div class="home-page-header">
              <div class="home-page-headerbg">
                <div class="home-page-headerpic">
                  <img
                    src="/playground_assets/rectangle41094-5f6b.svg"
                    alt="Rectangle41094"
                    class="home-page-rectangle4"
                  />
                </div>
              </div>
            </div>
            <div class="home-page-group457_new">
                <rect class="curved home-page-group457"></rect>
            </div>
            <div class="home-page-group457">
              <span class="home-page-text">
                <span class="home-page-text001">You have</span>
                <span class="home-page-text002">
                  <span>Questions ?</span>
                  <br />
                  <span></span>
                </span>
                <span class="home-page-text006">We have</span>
                <span>Answers !</span>
              </span>
              <span class="home-page-text008">
                <span class="home-page-text009 ">BugSearch</span>
                <span>
                  <span>is an open</span>
                  <br />
                  <span>community for anyone</span>
                  <br />
                  <span>that codes .</span>
                </span>
              </span>
              <rect class="home-page-rectangle81"></rect>
              <!-- <img
                src="/playground_assets/rectangle811095-jzh4-200h.png"
                alt="Rectangle811095"
                class="home-page-rectangle81"
              /> -->
              <div>
                <button type="button" class="btn btn-primary home-page-group229  home-page-text016 ">JOIN NOW</button>
                <!-- <span class="home-page-text016"><span>JOIN NOW</span></span> -->
              </div>
              <img
                src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/5c2c9605bda0801631a2ae882cb769e0ced09791"
                alt="Graphic361280x79211095"
                class="home-page-graphic361280x7921"
              />
            </div>
            <div class="home-page-frame54">
              <span class="home-page-text018 H2"><span>Our Success</span></span>
              <span class="home-page-text020">
                <span>
                  Ornare id fames interdum porttitor nulla turpis etiam. Diam vitae
                  sollicitudin at nec nam et pharetra gravida. Adipiscing a quis
                  ultrices eu ornare tristique vel nisl orci.
                </span>
              </span>
            </div>
            <div class="home-page-our-success">
              <div class="home-page-frame55">
                <div class="home-page-frame48">
                  <span class="home-page-text022"><span>Students</span></span>
                  <br>
                  <span class="fam-cla1">15K+</span>
                </div>
                <div class="home-page-frame49">
                  <span class="home-page-text024"><span>Success</span></span>
                  <br>
                  <span class="fam-cla2">75%</span>
                </div>
                <div class="home-page-frame50">
                  <span class="home-page-text026"><span>Questions</span></span>
                  <br>
                  <span class="fam-cla3">35</span>
                </div>
                <div class="home-page-frame51">
                  <span class="home-page-text028"><span>Experts</span></span>
                  <br>
                  <span class="fam-cla4">26</span>
                </div>
              </div>
            </div>
            <div class="home-page-allinone">
              <span class="home-page-text030">
                <span class="home-page-text031">Versatile Solution to</span>
                <span>Resolve All Your Bugs.</span>
              </span>
              <span class="home-page-text033">
                <span>
                  BugSearch is one powerful website that connects developers from all
                  over the world and helps fixing the bugs in your code instantly !
                </span>
              </span>
              <rect class="home-page-rectangle14"></rect>
              <!-- <img
                src="/playground_assets/rectangle141097-o6qc-400h.png"
                alt="Rectangle141097"
                class="home-page-rectangle14"
              /> -->
              <rect class="home-page-rectangle15"></rect>
              <!-- <img
                src="/playground_assets/rectangle151097-sbm6-400h.png"
                alt="Rectangle151097"
                class="home-page-rectangle15"
              /> -->
              <rect class="home-page-rectangle16"></rect>
              <!-- <img
                src="/playground_assets/rectangle161097-ve4u-400h.png"
                alt="Rectangle161097"
                class="home-page-rectangle16"
              /> -->
              <span class="home-page-text035">
                <span>
                  <span>Ask Questions &amp;</span>
                  <br />
                  <span>Post Answers</span>
                </span>
              </span>
              <span class="home-page-text040"><span>Vote Answers</span></span>
              <span class="home-page-text042"><span>Get Reputation</span></span>
              <span class="home-page-text044">
                <span>
                  Users may ask questions on specific topics and other users may share
                  their insights regarding it and contribute in discussions.
                </span>
              </span>
              <span class="home-page-text046">
                <span>
                  Rate the quality or helpfulness of answers provided to a particular
                  question. Upvote or downvote answers depending on their usefulness!
                </span>
              </span>
              <span class="home-page-text048">
                <span>
                  Rank yourself based on your contributions to the community! Earn
                  points by maintaining an active profile here!
                </span>
              </span>
              <div class="home-page-group80">
                <cir class="home-page-ellipse6"></cir>
                <!-- <i class="fa-sharp fa-solid fa-box-ballot fa-3x home-page-users1" style="color: #000000;"></i> -->
                <i class="fa-solid fa-check-to-slot fa-3x home-page-users1" style="color: #ffffff;"></i>
                <!-- <i class="fa-solid fa-people-group fa-3x home-page-users1" style="color: #ffffff;"></i> -->
                <!-- <img
                  src="/playground_assets/ellipse61097-pa86-200h.png"
                  alt="Ellipse61097"
                  class="home-page-ellipse6"
                /> -->
                <!-- <div class="home-page-calendar2"> -->
                  <!-- <div class="home-page-group"> -->
                    <!-- <div class="home-page-group01"> -->
                      <!-- <i class="fa-sharp fa-solid fa-box-ballot fa-10x home-page-group01 home-page-group" style="color: #ffffff;"></i> -->
                      <!-- <img
                        src="/playground_assets/vector1097-q28.svg"
                        alt="Vector1097"
                        class="home-page-vector"
                      /> -->
                    <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="home-page-group02">
                    <div class="home-page-group03"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-o4ac.svg"
                        alt="Vector1097"
                        class="home-page-vector01"
                      /> -->
                    <!-- </div>
                  </div> -->
                  <!-- <div class="home-page-group04"> -->
                    <!-- <div class="home-page-group05"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-znfg.svg"
                        alt="Vector1097"
                        class="home-page-vector02"
                      /> -->
                    <!-- </div> -->
                  <!-- </div> -->
                  <!-- <div class="home-page-group06">
                    <div class="home-page-group07"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-f2dr.svg"
                        alt="Vector1097"
                        class="home-page-vector03"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group08">
                    <div class="home-page-group09"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-pdia.svg"
                        alt="Vector1097"
                        class="home-page-vector04"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group10">
                    <div class="home-page-group11"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-4bsp.svg"
                        alt="Vector1097"
                        class="home-page-vector05"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group12">
                    <div class="home-page-group13"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-vxgl.svg"
                        alt="Vector1097"
                        class="home-page-vector06"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group14">
                    <div class="home-page-group15"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-j54k.svg"
                        alt="Vector1097"
                        class="home-page-vector07"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group16">
                    <div> -->
                      <!-- <img
                        src="/playground_assets/vector1097-gk4.svg"
                        alt="Vector1097"
                        class="home-page-vector08"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group18">
                    <div class="home-page-group19"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-9495.svg"
                        alt="Vector1097"
                        class="home-page-vector09"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group20">
                    <div class="home-page-group21"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-34x.svg"
                        alt="Vector1097"
                        class="home-page-vector10"
                      /> -->
                    <!-- </div>
                  </div>
                  <div class="home-page-group22">
                    <div class="home-page-group23"> -->
                      <!-- <img
                        src="/playground_assets/vector1097-31bs.svg"
                        alt="Vector1097"
                        class="home-page-vector11"
                      /> -->
                    <!-- </div>
                  </div> -->
                <!-- </div> -->
              </div>
              <div class="home-page-group81">
                <cir class="home-page-ellipse7"></cir>
                <!-- <img
                  src="/playground_assets/ellipse71097-ui2l-200h.png"
                  alt="Ellipse71097"
                  class="home-page-ellipse7"
                /> -->
                <i class="fa-solid fa-people-group fa-3x home-page-users1" style="color: #ffffff;"></i>
                <!-- <img
                  src="/playground_assets/users11097-x54s.svg"
                  alt="users11097"
                  class="home-page-users1"
                /> -->
              </div>
              <div class="home-page-group79">
                <cir class="home-page-ellipse5"></cir>
                <i class="fa-solid fa-file-invoice fa-3x home-page-fileinvoice1" style="color: #ffffff;"></i>
                <!-- <img
                  src="/playground_assets/ellipse51097-fg7f-200h.png"
                  alt="Ellipse51097"
                  class="home-page-ellipse5"
                /> -->
                <!-- <img
                  src="/playground_assets/fileinvoice11097-bbtd.svg"
                  alt="fileinvoice11097"
                  class="home-page-fileinvoice1"
                /> -->
              </div>
            </div>
            <div class="home-page-group17">
              <div class="home-page-group458">
                <rect class="home-page-rectangle17"></rect>
                <!-- <img
                  src="/playground_assets/rectangle171098-u4gg-300h.png"
                  alt="Rectangle171098"
                  class="home-page-rectangle17"
                /> -->
                <rect class="home-page-rectangle18"></rect>
                <!-- <img
                  src="/playground_assets/rectangle181098-kafc-200h.png"
                  alt="Rectangle181098"
                  class="home-page-rectangle18"
                /> -->
                <img
                  src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/7a80a7af42c44b95173f6bb18529bebd58808a65"
                  alt="confidentteacherexplaininglessonpupils11098"
                  class="home-page-confidentteacherexplaininglessonpupils1"
                />
              </div>
            </div>
            <div class="home-page-you-can-do-with-totc">
                <cir class="home-page-ellipse13"></cir>
              <!-- <img
                src="/playground_assets/ellipse131098-41he.svg"
                alt="Ellipse131098"
                class="home-page-ellipse13"
              /> -->
              <cir class="home-page-ellipse12"></cir>
              <!-- <img
                src="/playground_assets/ellipse121098-xy6-200h.png"
                alt="Ellipse121098"
                class="home-page-ellipse12"
              /> -->
              <span class="home-page-text050">
                <span class="home-page-text051">
                  <span>
                    We provide a platform that facilitates collaboration and
                    communication among programmers to solve their doubts and
                    challenges related to coding.
                  </span>
                  <br />
                  <span></span>
                  <br />
                  <span>
                    Get involved into top programming discussions taking place all
                    over the globe!
                  </span>
                  <br />
                  <span></span>
                </span>
                <span>
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                  <br />
                  <span></span>
                </span>
              </span>
              <span class="home-page-text073">
                <span>Code. Connect. Collaborate.</span>
              </span>
            </div>
            <div class="home-page-group455">
              <div class="home-page-group2291">
                <!-- <span class="home-page-text075"><span>SIGNUP</span></span> -->
                <button type="button" class="btn btn-primary home-page-group2291 home-page-text075 home-page-group455 ">SIGNUP</button>
              </div>
            </div>
            <div class="home-page-footer">
              <span class="home-page-text077">
                <span>© 2021 Class Technologies Inc.</span>
              </span>
              <span class="home-page-text079">
                <span>Subscribe to get our Newsletter</span>
              </span>
              <div class="home-page-group115">
                <div class="home-page-group111">
                  <img
                    src="/playground_assets/polygon21282-iy7k.svg"
                    alt="Polygon21282"
                    class="home-page-polygon2"
                  />
                  <span class="home-page-text081"><span>Skilline</span></span>
                </div>
                <img
                  src="/playground_assets/line101282-lctm.svg"
                  alt="Line101282"
                  class="home-page-line10"
                />
                <span class="home-page-text083">
                  <span>Virtual Class for Zoom</span>
                </span>
              </div>
              <div class="home-page-group114">
                <img
                  src="/playground_assets/line111282-h31o.svg"
                  alt="Line111282"
                  class="home-page-line11"
                />
                <img
                  src="/playground_assets/line121282-r4hj.svg"
                  alt="Line121282"
                  class="home-page-line12"
                />
                <span class="home-page-text085"><span>Careers</span></span>
                <span class="home-page-text087"><span>Privacy Policy</span></span>
                <span class="home-page-text089">
                  <span>Terms &amp; Conditions</span>
                </span>
              </div>
              <div class="home-page-footer1">
                <span class="home-page-text091">
                  <span>© 2021 Class Technologies Inc.</span>
                </span>
                <div class="home-page-group1151">
                  <img
                    src="/playground_assets/line101282-y1ys.svg"
                    alt="Line101282"
                    class="home-page-line101"
                  />
                  <span class="home-page-text093">
                    <span>Debug the bugs instantly !</span>
                  </span>
                </div>
                <div class="home-page-group1141">
                  <img
                    src="/playground_assets/line121283-hptc.svg"
                    alt="Line121283"
                    class="home-page-line121"
                  />
                  <span class="home-page-text095"><span>Privacy Policy</span></span>
                  <span class="home-page-text097">
                    <span>Terms &amp; Conditions</span>
                  </span>
                </div>
                <span class="home-page-text099"><span>BugSearch</span></span>
              </div>
            </div>
            <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
              <div class="container-fluid">
                  <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
                  <a class="navbar-brand" href="{{url_for('login_home')}}">BugSearch</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('login_home')}}">Home</a>
                    </li>
                    <form class="d-flex search" role="search">
                      <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success search_btn" type="submit">Search</button>
                    </form>
                    <!-- <li class="nav-item badges-vector">
                      <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
                    </li> -->
                    <!-- <li class="nav-item username">
                      <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
                    </li> -->
                    <li class="nav-item signup">
                      <a class="nav-link active" aria-current="page" href="{{url_for('signup')}}">SignUp</a>
                    </li>
                    <li class="nav-item logout">
                      <a class="nav-link active" aria-current="page" href="{{url_for('userlogin')}}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('logout_help')}}">Help</a>
                    </li>
                  </ul>       
                </div>
              </div>
            </nav>
          </div>
          </div>
            <!-- <div class="home-page-group427319013">
              <span class="home-page-text101"><span>Home</span></span>
              <img
                src="/playground_assets/searchbar1633-jox9.svg"
                alt="SearchBar1633"
                class="home-page-search-bar"
              />
              <div class="home-page-group454">
                <div class="home-page-group456">
                  <div class="home-page-group2292">
                    <span class="home-page-text103"><span>LOGIN</span></span>
                  </div>
                </div>
              </div>
              <div class="home-page-group4551">
                <div class="home-page-group2293">
                  <span class="home-page-text105"><span>SIGNUP</span></span>
                </div>
              </div>
              <span class="home-page-text107"><span>Help</span></span>
              <img
                src="/playground_assets/untitleddesign511633-zkk-200h.png"
                alt="Untitleddesign511633"
                class="home-page-untitleddesign51"
              />
              <span class="home-page-text109"><span>BugSearch</span></span>
            </div> -->
          </div>
        </div>
      </div>
      
</body>
</html>