<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/password_reset_2.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>
    <div>
      <div class="password-reset2-password-reset2">
        <div class="container-fluid">
            <!-- <div class="password-reset1-group427319022 "> -->
            <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
              <div class="container-fluid">
                  <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
                  <a class="navbar-brand" href="#">BugSearch</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <form class="d-flex search" role="search">
                      <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success search_btn" type="submit">Search</button>
                    </form>
                    <li class="nav-item badges-vector">
                      <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
                    </li>
                    <li class="nav-item username">
                      <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
                    </li>
                    <li class="nav-item logout">
                      <a class="nav-link active" aria-current="page" href="#">Logout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Help</a>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </nav>
          </div>
        <!-- <div class="password-reset2-group427319022">
          <span class="password-reset2-text"><span>Home</span></span>
          <img
            src="/playground_assets/searchbar1856-nydr.svg"
            alt="SearchBar1856"
            class="password-reset2-search-bar"
          />
          <div class="password-reset2-group454">
            <div class="password-reset2-group456">
              <div class="password-reset2-group229">
                <span class="password-reset2-text02"><span>LOGIN</span></span>
              </div>
            </div>
          </div>
          <div class="password-reset2-group455">
            <div class="password-reset2-group2291">
              <span class="password-reset2-text04"><span>SIGNUP</span></span>
            </div>
          </div>
          <span class="password-reset2-text06"><span>Help</span></span>
          <img
            src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd"
            alt="Untitleddesign511856"
            class="password-reset2-untitleddesign51"
          />
          <span class="password-reset2-text08"><span>BugSearch</span></span>
        </div> -->
        <img
          src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/6407bb0bdee376bf2c37b07ff638b29f490d1abf"
          alt="Fp11856"
          class="password-reset2-fp1"
        />
        <span class="password-reset2-text10"><span>Password Reset</span></span>
        <span class="password-reset2-text12">
          <span>
            <span>Guidelines :</span>
            <br />
            <span>Enter your username and registered email address below.</span>
            <br />
            <span>
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
              If the username and registered email is verified successfully then
              password reset option would be unlocked.
            </span>
            <br />
            <span>
              Once unlocked, you would be asked to enter your new password and
              then press the reset button.
            </span>
          </span>
        </span>
        <div class="password-reset2-group225">
            <rect class="password-reset2-rectangle80"></rect>
            <label for="inputPassword5" class="form-label password-reset2-text21">Confirm Password</label>
            <input type="password" id="inputPassword5" class="form-control password-reset2-rectangle80" aria-labelledby="passwordHelpBlock">
          <!-- <img
            src="/playground_assets/rectangle801856-1an-200h.png"
            alt="Rectangle801856"
            class="password-reset2-rectangle80"
          /> -->
          <!-- <span class="password-reset2-text21">
            <span>Confirm Password</span>
          </span>
          <span class="password-reset2-text23">
            <span>Enter your User name</span>
          </span> -->
        </div>
        <div class="password-reset2-group232">
            <!-- <rect class="password-reset2-rectangle801"></rect> -->
            <label for="inputPassword5" class="form-label password-reset2-text25">New Password</label>
            <input type="password" id="inputPassword5" class="form-control password-reset2-rectangle801" aria-labelledby="passwordHelpBlock">
            <!-- <div id="passwordHelpBlock" class="form-text">
              Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
            </div> -->
          <!-- <img
            src="/playground_assets/rectangle801856-s3d-200h.png"
            alt="Rectangle801856"
            class="password-reset2-rectangle801"
          /> -->
          <!-- <span class="password-reset2-text25"><span>New Password</span></span> -->
          <span class="password-reset2-text27">

        </div>
        <!-- <div class="password-reset2-group2292"> -->
          <!-- <span class="password-reset2-text29"><span>Reset</span></span> -->
          
          <span><button type="button" class="btn btn-primary password-reset2-group2292">Reset</button></span>
        <!-- </div> -->
      </div>
    </div>
 