<!DOCTYPE html>
<html lang="en">
<!-- @login_required necessary-->
<head>
    <!-- <script>
        function calc_score(a,b)
        {
            return (a-b);
        }
        document.getElementById("counter1").innerHTML=
    </script> -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static',filename='assets/images/logo.png') }}" alt="image">
    <title>BugSearch</title>


    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-scholar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/our_c.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/side.css') }}">

</head>
</head>
<div class="wrapper">
    <nav id="sidebar" class="sticky-top">
    <div class="sidebar-header">
        <hr>
    </div>
    <ul class="list-unstyled components navbar-nav mr-auto">
        <p>{{current_user.username}}</p>
        <li> <a href="{{url_for('dashboard')}}" class="dis-inl" ><i class="fa-solid fa-user trending-user-circle dis-inl mar" style="color:black"></i>User Profile</a></li>
        <li> <a href="{{url_for('user_home')}}" class="dis-inl"><i class="fa-solid fa-house followers-page-identification-cardd dis-inl mar" style="color:black"></i>User Home</a> </li>
        <li> <a href="{{url_for('complete_your_profile')}}" class="dis-inl"><i class="fa-solid fa-pen-to-square followers-page-vector2 dis-inl mar" style="color:black"></i>Edit Profile</a> </li>
        <li> <a href="{{url_for('followers')}}" class="dis-inl"><i class="fa-solid fa-user-group followers-page-users dis-inl mar" style="color:black"></i>Followers</a> </li>
        <li> <a href="{{url_for('following')}}" class="dis-inl"><i class="fa-solid fa-user-group followers-page-users dis-inl mar" style="color:black"></i>Following</a> </li>
        <li> <a href="{{url_for('badges')}}" class="dis-inl"><i class="fa-solid fa-award followers-page-vector1 dis-inl mar" style="color:black"></i>Badges</a> </li>
        <li> <a href="{{url_for('trending')}}" class="dis-inl"><i class="fa-solid fa-globe recommendations-globe-stand dis-inl mar" style="color:black"></i>Trending</a> </li>
        <li> <a href="{{url_for('recommendations')}}" class="dis-inl"><i class="fa-solid fa-wand-magic-sparkles trending-magic-wand dis-inl mar" style="color:black"></i>Recommendations</a> </li>
        <li> <a href="{{url_for('all_users')}}" class="dis-inl"><i class="fa fa-users followers-page-users-threed1 dis-inl mar" style="color:black"></i>All Users</a> </li>
        <li> <a href="{{url_for('bookmarks')}}" class="dis-inl"><i class="fa-solid fa-bookmark trending-bookmarks dis-inl mar" style="color:black"></i>Bookmarks</a> </li>
        <li> <a href="{{url_for('post_question')}}" class="dis-inl"><i class="fa-solid fa-question trending-question dis-inl mar" style="color:black"></i>Post Question</a> </li>
        <li> <a href="{{url_for('posted_questions')}}" class="dis-inl"><i class="fa-solid fa-question trending-question dis-inl mar" style="color:black"></i>Posted Questions</a> </li>

</nav>
    <div class="content">
        <header class="header-area header-sticky background-header fixed-topp">
            <nav class="main-nav navcolor navbar-dark">
                <button type="button" id="sidebarCollapse" class="btn btn-info info"> <i
                        class="fa fa-align-justify"></i> </button>
                <a href="{{url_for('homepage')}}" class="logo ">
                    <h1 id="title">BugSearch</h1>
                </a>
                <div class="search-input">
                    <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword"
                            onkeypress="handle" />
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                <ul class="nav">
                    <li class="scroll-to-section"><a href="{{url_for('homepage')}}">Home</a></li>
                    <li class="scroll-to-section"><a href="{{url_for('userlogin')}}">{{current_user.username}}</a></li>
                    <li class="scroll-to-section"><a href="{{url_for('signup')}}">Logout</a></li>
                    <li class="scroll-to-section"><a href="{{url_for('help_with_login')}}">Help</a></li>
                </ul>
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>

            </nav>
        </header>
        <div class="bookmark_bar"></div>
        <div class="content-wrapper ">
            <br><br><br><br>
            <h2>{{question.title}}</h2>
            </div>        
            <div class="line"></div><br>
            <div class="row surf">
                <div class="col-lg-1">
                    <div class="like-dislike" id="loadclickhandle">
                        <button id="like-btn{{question.question_id}}" class="lb" onclick="Qupdatevote('up')"><box-icon type='solid' name='up-arrow' style="height:18px; width:18px" ></box-icon></button>
                        <span class="votecount" id="counter{{question.question_id}}" class="cb">0</span>
                        <button id="dislike-btn{{question.question_id}}" class="dlb" onclick="Qupdatevote('down')"><box-icon type='solid' name='down-arrow' style="height:18px; width:18px"></box-icon></button>
                        <button id="bookmarks-btn{{question.question_id}}" onclick="Qbookmark(post_type='question',post_id='{{question.question_id}}',button_id='bookmarks-btn{{question.question_id}}'><box-icon name='bookmark-star' type='solid' style="height:18px; width:18px" ></box-icon></button>
                    </div>
                </div>
                <div class="col-lg-11">
                    <h4>{{question.body}}</h4>
                    <br>
                    {% for tag in l_tags%} 
                    <button type="button" class="btn btn-primary btn-sm btn-search">{{ tag.tag_name }}</button>
                    {% endfor %}
                    <br><br>
                <h3 class="search_ans"></h3>
                <br>
            <br><a target="_blank" href="{{url_for('post_question_comment',question_id=question.question_id)}}" class="add_c dis-inl"><span><u>Add comment</u></span></a>
            <h5 class="dis-inl">{{question.answer_count}} Answers</h5>
            <h5 class="dis-inl">{{question.comment_count}} Comments</h5>
        </div>
    </div>
            <hr>
<!-- 
    like dislilke class name and id -class="like-dislike" id="loadclickhandle" 
 -->
            
            <br>
            {% for answer in l_ans %}
            <br>
            <div class="row surf">
                <div class="col-lg-1">
                    <div class="like-dislike">
                        <button id="like-btn2"  class="lb"><box-icon type='solid' name='up-arrow' style="height:18px; width:18px"></box-icon></button>
                        <span class="votecount" id="counter2" class="cb">0</span>
                        <button id="dislike-btn2" class="dlb"><box-icon type='solid' name='down-arrow' style="height:18px; width:18px"></box-icon></button>
                        <button id="bookmarks-btn2"><box-icon name='bookmark-star' type='solid' style="height:18px; width:18px" ></box-icon></button>
                    </div>
                </div>
                <div class="col-lg-11">
                    <h5 class="search_ans">{{answer.body}}</h5>
                    <br>
                    <h6 class="search_ans2">{{answer.body}}</h6>
                    <br>
                    <a target="_blank" href="#" class="add_c"><span><u>Add comment</u></span></a>

                    <br>
                </div>
            </div>
            <br>
            <div class="line"></div><br>
            {%endfor %}
             
          
            <div class="line"></div><br>
            <br>
            <br>
            <a  href="{{url_for('post_answer',question_id=question.question_id)}}">
            <button type="button" class="btn btn-primary btn-lg search-button">Post Answer</button>
            </a>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/counter.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/our.js') }}"></script>
<!-- <script>console.log('hi my name is raja is '); -->
    <!-- console.log({{question.question_id}});</script> -->
      
<script>
const questionId = {{ question.question_id }};
//bookmark functionality
function Qbookmark(post_type,button_id,post_id)
{
    console.log('inside bookmark');
    const xhr=new XMLHttpRequest();

    xhr.open('POST','/Qupdatebookmark',true);
    xhr.setRequestHeader("content-type","application/json;charset=UTF-8");
    xhr.onload = function()
    {
        const data=JSON.parse(this.responseText);
        console.log(data);

        if(this.status==200)
        {
            // const data=JSON.parse(this.responseText);
            const bookmark=document.getElementById(button_id);
            if(data['bookmark']=='yes')
            {
                bookmark.style.backgroundColor='#49BBBD';
            }
            else
            {
                bookmark.style.backgroundColor='';
            }
        }
        else
        {
            console.log('failed bookmark');
        }
    }
    console.log(postid);
    params=JSON.stringify({"post_id":post_id,"post_type":post_type})
    xhr.send(params);
}





// onclick handling for questions
function Qupdatevote(voting)
{
    console.log('has entered in the upvote function upvote clicked ');
    const xhr=new XMLHttpRequest();

    xhr.open('POST','/Qupdatevote',true);
    xhr.setRequestHeader("content-type","application/json;charset=UTF-8");
    // console.log(voting);
    // console.log('printednow');
    xhr.onload = function()
    {
        console.log('has entered in the  ');
        if(this.status===200)
        {
            const upvote = document.getElementById('like-btn1');
            const downvote = document.getElementById('dislike-btn1');
            const score = document.getElementById('counter1');
            // console.log('has entered in the the 200  ');
            const data=JSON.parse(this.responseText);
            score.innerHTML=data['score'];
            // console.log(data)
            if (data['votetype'] == 'neutral')
            {
                // console.log('neutral');
                // console.log(data)
                upvote.style.backgroundColor = '';
                downvote.style.backgroundColor = '';
                // upvote.innerHTML=data['upvotes'];
                // downvote.innerHTML=data['downvotes']
                downvote.style.backgroundColor = '';
            } else if (data['votetype'] == 'upvote') {
                // console.log('upvote');
                // upvote.innerHTML=data['upvotes'];
                // downvote.innerHTML=data['downvotes']
                upvote.style.backgroundColor = '#49BBBD';
                downvote.style.backgroundColor = '';
            } else {
                // console.log('downvote');
                // upvote.innerHTML=data['upvotes'];
                // downvote.innerHTML=data['downvotes']
                upvote.style.backgroundColor = '';
                downvote.style.backgroundColor = '#49BBBD';
            }
        }
    };
    const data=JSON.stringify({"question_id":'{{question.question_id}}',"voting":voting});
    xhr.send(data);
}

// handling question for loading
window.onload = function() {
  const questionId = '{{ question.question_id }}';
  const score = document.getElementById('counter1');
  const scoreval = '{{question.upvotes - question.downvotes}}';
  updateupdown(questionId, score, scoreval);
};

function updateupdown(questionId, score, scoreval) {
  console.log('hi my na ');
  console.log(scoreval);
  console.log(questionId);
  const upvote = document.getElementById('like-btn1');
  const downvote = document.getElementById('dislike-btn1');
  const bookmark = document.getElementById('bookmarks-btn1');
  const xhr = new XMLHttpRequest();
  xhr.open('GET', '/Qloadvote', true);
  xhr.setRequestHeader('content-type', 'application/json;charset=UTF-8');
  xhr.onload = function() {
    if (this.status == 200) {
      const data = JSON.parse(this.responseText);
      score.innerHTML = scoreval;
      console.log(data);
      if (data['votetype'] == 'neutral') {
        upvote.style.backgroundColor = '';
        downvote.style.backgroundColor = '';
      } else if (data['votetype'] == 'upvote') {
        upvote.style.backgroundColor = '#49BBBD';
        downvote.style.backgroundColor = '';
      } else {
        console.log(data);
        upvote.style.backgroundColor = '';
        downvote.style.backgroundColor = '#49BBBD';
      }
      if (data['bookmark'] === 'yes') {
        bookmark.style.backgroundColor ='#49BBBD';
      } else {
        bookmark.style.backgroundColor = '';
      }
    } else {
      console.log('failed');
      console.log(this.responseText);
    }
  };
  console.log(questionId);
  const data = JSON.stringify({ "question_id": questionId });
  console.log(data);
  xhr.send(data);
}

</script>

</body>
</html>
