<!DOCTYPE html>
<html lang="en">
<!-- @login_required necessary-->
<head>
    <!-- <script>
        function calc_score(a,b)
        {
            return (a-b);
        }
        document.getElementById("counter1").innerHTML=
    </script> -->


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for ('static',filename='assets/images/logo.png') }}" alt="image">
    <title>BugSearch</title>


    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-scholar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/our_c.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/side.css') }}">

</head>
</head>
<div class="wrapper">
    <nav id="sidebar" class="sticky-top">
    <div class="sidebar-header">
        <hr>
    </div>
    <ul class="list-unstyled components navbar-nav mr-auto">
        <p>{{current_user.username}}</p>
        <li> <a href="{{url_for('dashboard')}}" class="dis-inl" ><i class="fa-solid fa-user trending-user-circle dis-inl mar" style="color:black"></i>User Profile</a></li>
        <li> <a href="{{url_for('user_home')}}" class="dis-inl"><i class="fa-solid fa-house followers-page-identification-cardd dis-inl mar" style="color:black"></i>User Home</a> </li>
        <li> <a href="{{url_for('complete_your_profile')}}" class="dis-inl"><i class="fa-solid fa-pen-to-square followers-page-vector2 dis-inl mar" style="color:black"></i>Edit Profile</a> </li>
        <li> <a href="{{url_for('followers')}}" class="dis-inl"><i class="fa-solid fa-user-group followers-page-users dis-inl mar" style="color:black"></i>Followers</a> </li>
        <li> <a href="{{url_for('following')}}" class="dis-inl"><i class="fa-solid fa-user-group followers-page-users dis-inl mar" style="color:black"></i>Following</a> </li>
        
        <li> <a href="{{url_for('trending')}}" class="dis-inl"><i class="fa-solid fa-globe recommendations-globe-stand dis-inl mar" style="color:black"></i>Trending</a> </li>
        <li> <a href="{{url_for('recommendations')}}" class="dis-inl"><i class="fa-solid fa-wand-magic-sparkles trending-magic-wand dis-inl mar" style="color:black"></i>Recommendations</a> </li>
        <li> <a href="{{url_for('all_users')}}" class="dis-inl"><i class="fa fa-users followers-page-users-threed1 dis-inl mar" style="color:black"></i>All Users</a> </li>
        <li> <a href="{{url_for('bookmarks')}}" class="dis-inl"><i class="fa-solid fa-bookmark trending-bookmarks dis-inl mar" style="color:black"></i>Bookmarks</a> </li>
        <li> <a href="{{url_for('post_question')}}" class="dis-inl"><i class="fa-solid fa-question trending-question dis-inl mar" style="color:black"></i>Post Question</a> </li>
        <li> <a href="{{url_for('posted_questions')}}" class="dis-inl"><i class="fa-solid fa-question trending-question dis-inl mar" style="color:black"></i>Posted Questions</a> </li>

</nav>
    <div class="content">
        <header class="header-area header-sticky background-header fixed-topp">
            <nav class="main-nav navcolor navbar-dark">
                <button type="button" id="sidebarCollapse" class="btn btn-info info"> <i
                        class="fa fa-align-justify"></i> </button>
                <a href="{{url_for('homepage')}}" class="logo ">
                    <h1 id="title">BugSearch</h1>
                </a>
                <div class="search-input">
                    <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='search' name="search"
                            onkeypress="handle" style="margin-top:0px;" />
                        <i class="fa fa-search"></i>
                    </form>
                </div>
                <ul class="nav">
                    <li class="scroll-to-section"><a href="{{url_for('homepage')}}">Home</a></li>
                    <li class="scroll-to-section"><a href="{{url_for('userlogin')}}">{{current_user.username}}</a></li>
                    <li class="scroll-to-section"><a href="{{url_for('signup')}}">Logout</a></li>
                    <li class="scroll-to-section"><a href="{{url_for('help_with_login')}}">Help</a></li>
                </ul>
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>

            </nav>
        </header>
        <div class="bookmark_bar"></div>
        <div class="content-wrapper ">
            <br><br><br><br>
            <h2>{{question.title}}</h2>
            </div>        
            <div class="line"></div><br>
            <div class="row surf">
                <div class="col-lg-1">
                    <div class="like-dislike" id="loadclickhandle">
                        <button id="like-btnquestion{{question.question_id}}" class="lb"  onclick="updatevote(vote_type='up',post_type='question',post_id='{{question.question_id}}')"><box-icon type='solid' name='up-arrow' style="height:18px; width:18px" ></box-icon></button>
                        <span class="votecount set_counter" id="counterquestion{{question.question_id}}" class="cb">{{question.score}}</span>
                        <button id="dislike-btnquestion{{question.question_id}}" class="dlb" onclick="updatevote(vote_type='down',post_type='question',post_id='{{question.question_id}}')"><box-icon type='solid' name='down-arrow' style="height:18px; width:18px"></box-icon></button>
                        <button id="bookmarks-btnquestion{{question.question_id}}" onclick="updatebookmark(post_type='question',post_id='{{question.question_id}}')"> <box-icon name='bookmark-star' type='solid' style="height:18px; width:18px" ></box-icon></button>
                    </div>

                    {% if question.vote_type=='upvote' %}
                    <script>
                    const button=document.getElementById('like-btnquestion{{question.question_id}}');
                        button.style.backgroundColor='#49BBBD';
                    </script>
                    {% elif question.vote_type=='downvote' %}
                        <script>
                    const button=document.getElementById('dislike-btnquestion{{question.question_id}}');
                    button.style.backgroundColor='#49BBBD';
                        </script> 
                    {% endif %}

                    {% if question.bookmark=='yes' %}
                    <script>
                        const bookmark= document.getElementById("bookmarks-btnquestion{{question.question_id}}");
                        bookmark.style.backgroundColor='#49BBBD';
                    </script>
                    {% endif %}


                </div>
                <script>

                </script>
                <div class="col-lg-11">
                    <h4>{{question.body}}</h4>
                    <br>
                    {% for tag in l_tags%} 
                    <button type="button" class="btn btn-primary btn-sm btn-search">{{ tag.tag_name }}</button>
                    {% endfor %}
                    <br><br>
                <h3 class="search_ans"></h3>
                <br>
                <a target="_blank" href="{{url_for('post_question_comment',question_id=question.question_id)}}" class="add_c dis-inl"><span><u>Add Comment</u></span></a>
            <h5 class="dis-inl">{{question.answer_count}} Answers</h5>
            <h5 class="dis-inl">{{question.comment_count}} Comments</h5>
            <button type="button" class="btn btn-primary btn-sm btn-search " id="commentquestion{{question.question_id}}" onclick="getcomments(post_type='question',post_id='{{question.question_id}}')">Get Comments</button>
            <!--             <br><a target="_blank" href="{{url_for('post_question_comment',question_id=question.question_id)}}" class="add_c dis-inl"><span><u><button type="button" class="btn btn-primary btn-lg search-button">Add Comment</button></u></span></a>
            <button type="button" class="btn btn-primary btn-lg search-button" id="commentquestion{{question.question_id}}" onclick="getcomments(post_type='question',post_id='{{question.question_id}}')">Get Comments</button>
            <button type="button" class="btn btn-primary btn-lg search-button">{{question.answer_count}} Answers</button>
            <button type="button" class="btn btn-primary btn-lg search-button">{{question.comment_count}} Comments</button>
            <br> -->
            <div id="commentsContainerquestion{{question.question_id}}" style="display:none;">
                <!-- comments go here -->
            </div>
        </div>
    </div>
            <hr>
<!-- 
    like dislilke class name and id -class="like-dislike" id="loadclickhandle" 
 -->
            
            <br>
            {% for answer in l_ans %}
            <br>
            <div class="row surf">
                <div class="col-lg-1">
                    <div class="like-dislike">
                        <div class="like-dislike" id="loadclickhandle" >
                            <button id="like-btnanswer{{answer.answer_id}}" class="lb" onclick="updatevote(vote_type='up',post_type='answer',post_id='{{answer.answer_id}}')"><box-icon type='solid' name='up-arrow' style="height:18px; width:18px" ></box-icon></button>
                            <span class="votecount set_counter" id="counteranswer{{answer.answer_id}}" class="cb">{{answer.score}}</span>
                            <button id="dislike-btnanswer{{answer.answer_id}}" class="dlb" onclick="updatevote(vote_type='down',post_type='answer',post_id='{{answer.answer_id}}')"><box-icon type='solid' name='down-arrow' style="height:18px; width:18px"></box-icon></button>
                            <button id="bookmarks-btnanswer{{answer.answer_id}}" onclick="updatebookmark(post_type='answer',post_id='{{answer.answer_id}}')"> <box-icon name='bookmark-star' type='solid' style="height:18px; width:18px" ></box-icon></button>
                        </div>
                    </div>
                        {% if answer.vote_type=='upvote' %}
                        <script>
                        document.getElementById('like-btnanswer{{answer.answer_id}}').style.backgroundColor = '#49BBBD';
                        </script>
                        {% elif answer.vote_type=='downvote' %}
                        <script>
                        document.getElementById('dislike-btnanswer{{answer.answer_id}}').style.backgroundColor = '#49BBBD';
                        </script> 
                        {% endif %}
                        {% if answer.bookmark=='yes' %}
                        <script>
                        document.getElementById('bookmarks-btnanswer{{answer.answer_id}}').style.backgroundColor = '#49BBBD';
                        </script>
                        {% endif %}
                </div>
                <div class="col-lg-11">
                    <h5 class="search_ans">{{answer.body}}</h5>
                    <br>
                    <a target="_blank" href="{{url_for('post_answer_comment',question_id=question.question_id,answer_id=answer.answer_id)}}" class="add_c dis-inl"><span><u>Add Comments</u></span></a>
                    <h5 class=" dis-inl">{{answer.comment_count}} Comments</h5>
                    <button type="button" class="btn btn-primary btn-sm btn-search " id="commentanswer{{answer.answer_id}}" onclick="getcomments(post_type='answer',post_id='{{answer.answer_id}}')">Get Comments</button>  <br>
                    <div id="commentsContaineranswer{{answer.answer_id}}" style="display:none;">
                        <!-- comments go here -->
                    </div>
                </div>
            </div>
            <br>
            <div class="line"></div><br>
            
            {%endfor %}
             
          
            <br>
            <a  href="{{url_for('post_answer',question_id=question.question_id)}}">
            <button type="button" class="btn btn-primary btn-lg search-button">Post Answer</button>
            </a>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/counter.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/our.js') }}"></script>
<!-- <script>console.log('hi my name is raja is '); -->
    <!-- console.log({{question.question_id}});</script> -->
      
<script>
const questionId = '{{ question.question_id }}';
//bookmark functionality
function updatebookmark(post_type,post_id)
{
    console.log('inside bookmark');
    console.log(post_id,post_type);
    const xhr=new XMLHttpRequest();

    xhr.open('POST','/updatebookmark',true);
    xhr.setRequestHeader("content-type","application/json;charset=UTF-8");
    xhr.onload = function()
    {
        const data=JSON.parse(this.responseText);
        console.log(data);

        if(this.status==200)
        {
            // const data=JSON.parse(this.responseText);
            const bookmark=document.getElementById('bookmarks-btn'+post_type+post_id);
            if(data['bookmark']=='yes')
            {
                console.log('insidee  bookmarks');
                bookmark.style.backgroundColor='#49BBBD';
            }
            else
            {
                bookmark.style.backgroundColor='';
            }
        }
        else
        {
            console.log('failed bookmark');
        }
    }
    console.log(post_id);
    params=JSON.stringify({"post_id":post_id,"post_type":post_type});
    console.log(params);
    xhr.send(params);
}

// onclick handling for 
function updatevote(vote_type,post_type,post_id)
{
    console.log('has entered in the upvote function upvote clicked ');
    const xhr=new XMLHttpRequest();
    console.log(vote_type,post_type,post_id);
    xhr.open('POST','/updatevote',true);
    xhr.setRequestHeader("content-type","application/json;charset=UTF-8");
    // console.log(voting);
    // console.log('printednow');
    xhr.onload = function()
    {
        console.log('has entered in the  ');
        if(this.status===200)
        {
            const upvote = document.getElementById(('like-btn'+post_type+post_id));
            const downvote = document.getElementById(('dislike-btn'+post_type+post_id));
            const score = document.getElementById(('counter'+post_type+post_id));
            // console.log('has entered in the the 200  ');
            const data=JSON.parse(this.responseText);
            score.innerHTML=data['score'];
            // console.log(data)
            if (data['vote_type'] == 'neutral')
            {
                console.log('neutral');
                // console.log(data)
                upvote.style.backgroundColor = '';
                downvote.style.backgroundColor = '';
                // upvote.innerHTML=data['upvotes'];
                // downvote.innerHTML=data['downvotes']
                downvote.style.backgroundColor = '';
            } else if (data['vote_type'] == 'upvote') {
                console.log('upvote');
                // upvote.innerHTML=data['upvotes'];
                // downvote.innerHTML=data['downvotes']
                upvote.style.backgroundColor = '#49BBBD';
                console.log(updatevote);
                downvote.style.backgroundColor = '';
            } else {
                console.log('downvote');
                // upvote.innerHTML=data['upvotes'];
                // downvote.innerHTML=data['downvotes']
                upvote.style.backgroundColor = '';
                downvote.style.backgroundColor = '#49BBBD';
            }
        }
    };
    const data=JSON.stringify({"post_id":post_id,"vote_type":vote_type,"post_type":post_type});
    console.log(data);
    xhr.send(data);
}

function getcomments(post_type,post_id)
{
    console.log(post_type,post_id);
    const button=document.getElementById('comment'+post_type+post_id);
    const Container=document.getElementById('commentsContainer'+post_type+post_id);
    if(Container.style.display !='none')
    {
        console.log('hi my naem is raha ');
        Container.style.display ='none';
        button.style.backgroundColor = '';
    }
    else
    {
        console.log('has entered in the comments clicked ');
        const xhr=new XMLHttpRequest();
        console.log(post_type,post_id);
        xhr.open('POST','/getcomments',true);
        xhr.setRequestHeader("content-type","application/json;charset=UTF-8");
        // comment.style.backgroundColor = '#49BBBD'; 
        // comment.innerHTML="RAJU KUMAR";
        xhr.onload = function()
        {
            console.log('has entered in the  ');
            console.log(this.status);
            if(this.status===200)
            {
                const data=JSON.parse(this.responseText);
                const comment=document.getElementById('comment'+post_type+post_id);
                let total='';
                for (var i = 0; i < data.length; i++) 
                {
                    total+='<div class="post">' +
                            '<p class="post-body">'+i +".  "+ data[i]['body'] + '</p>' +
                            '</div>';
;
                }
                console.log(total);
                Container.style.display='block';
                button.style.backgroundColor = '#49BBBD';
                Container.innerHTML=total;
            }
        }
        const data=JSON.stringify({"post_id":post_id,"post_type":post_type});
        console.log(data);
        xhr.send(data);
    }  
}

// update like and dislike state on page reload
// function vote_bookmark_state(post_type,post_id)
// {
//     console.log('has entered in the stateliien function upvote clicked ');
//     const xhr=new XMLHttpRequest();
//     console.log(post_type,post_id);
//     xhr.open('POST','/vote_bookmark_state',true);
//     xhr.setRequestHeader("content-type","application/json;charset=UTF-8");
//     console.log();
//     console.log('printednow');
//     xhr.onload = function()
//     {
//         console.log('has entered in the  ');
//         if(this.status===200)
//         {
//             const upvote = document.getElementById(('like-btn'+post_type+post_id));
//             const downvote = document.getElementById(('dislike-btn'+post_type+post_id));
//             const bookmark =document.getElementById('bookmarks-btn'+post_type+post_id);
//             // console.log('has entered in the the 200  ');
//             const data=JSON.parse(this.responseText);
//             console.log(data);
//             if (data['vote_type'] == 'neutral')
//             {
//                 console.log('neutral');
//                 // console.log(data)
//                 upvote.style.backgroundColor = '';
//                 downvote.style.backgroundColor = '';
//             } else if (data['vote_type'] == 'upvote') {
//                 console.log('upvote');
//                 upvote.style.backgroundColor = '#49BBBD';
//                 console.log(updatevote);
//                 downvote.style.backgroundColor = '';
//             } else {
//                 console.log('downvote');
//                 upvote.style.backgroundColor = '';
//                 downvote.style.backgroundColor = '#49BBBD';
//             }
//             if(data['bookmark']=='yes')
//             {
//                 bookmark.style.backgroundColor='#49BBBD';
//             }
//             else
//             {
//                 bookmark.style.backgroundColor=''; 
//             }
//         }
//     };
//     const data=JSON.stringify({"post_id":post_id,"post_type":post_type});
//     console.log(data);
//     xhr.send(data);
// }

// // window.onload=function()
// // {
// //     vote_bookmark_state(post_type='question',post_id=6);
// //     for (var i = 0; i < l_ans.length ; i++) {
// //         console.log(l_ans[i].answer_id);
// //     vote_bookmark_state('answer', l_ans[i].answer_id);
// // };
// function updateAllButtonStates(l_ans) {
//   for (var i = 0; i < l_ans.length; i++) {
//     vote_bookmark_state('answer', l_ans[i].answer_id);
//   }
// }

// window.onload = function(id,l_ans) {
//     vote_bookmark_state(post_type='question',post_id=id);
//     for (var i = 0; i < l_ans.length; i++) {
//         vote_bookmark_state('answer', l_ans[i].answer_id);
//     }

// }(6,l_ans);


// handling question for loading
// window.onload = function() {
//   const questionId = '{{ question.question_id }}';
//   const score = document.getElementById('counter1');
//   const scoreval = '{{question.upvotes - question.downvotes}}';
//   updateupdown(questionId, score, scoreval);
// };

// function updateupdown(questionId, score, scoreval) {
//   console.log('hi my na ');
//   console.log(scoreval);
//   console.log(questionId);


//   const params = new URLSearchParams();
//   params.append('question_id', questionId);


//   const upvote = document.getElementById('like-btn1');
//   const downvote = document.getElementById('dislike-btn1');
//   const bookmark = document.getElementById('bookmarks-btn1');
//   const xhr = new XMLHttpRequest();
//   xhr.open('POST', '/Qloadvote?' + params.toString(), true);
//   xhr.setRequestHeader('content-type', 'application/json;charset=UTF-8');
//   xhr.onload = function() {
//     if (this.status == 200) {
//       const data = JSON.parse(this.responseText);
//       score.innerHTML = scoreval;
//       console.log(data);
//       if (data['votetype'] == 'neutral') {
//         upvote.style.backgroundColor = '';
//         downvote.style.backgroundColor = '';
//       } else if (data['votetype'] == 'upvote') {
//         upvote.style.backgroundColor = '#49BBBD';
//         downvote.style.backgroundColor = '';
//       } else {
//         console.log(data);
//         upvote.style.backgroundColor = '';
//         downvote.style.backgroundColor = '#49BBBD';
//       }
//       if (data['bookmark'] === 'yes') {
//         bookmark.style.backgroundColor ='#49BBBD';
//       } else {
//         bookmark.style.backgroundColor = '';
//       }
//     } else {
//       console.log('failed');
//       console.log(this.responseText);
//     }
//   };
//   console.log(questionId);
//   const data = JSON.stringify({ "question_id": questionId,"user_id":1 });
//   console.log(data);
//   xhr.send();
// }

</script>

</body>
</html>