<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/bookmarks.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>

<div>
    <link href="../static/recommendations.css" rel="stylesheet" />
    <div>
      <div class="recommendations-recommendations">
        <img
          src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/f26d0afbe6828b3ed42bfb43fbf5eeb721bb2719"
          alt="recommendation11869"
          class="recommendations-recommendation1"
        />
        <div class="container-fluid">
          <!-- <div class="trending-group427319013 "> -->
          <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
            <div class="container-fluid">
                <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
                <a class="navbar-brand" href="#">BugSearch</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <form class="d-flex search" role="search">
                    <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success search_btn" type="submit">Search</button>
                  </form>
                  <li class="nav-item badges-vector">
                    <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
                  </li>
                  <li class="nav-item username">
                    <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
                  </li>
                  <li class="nav-item logout">
                    <a class="nav-link active" aria-current="page" href="#">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Help</a>
                  </li>
                </ul>       
              </div>
            </div>
          </nav>
        </div>
        </div>       
        <div class="recommendations-group427319020">
          <div class="recommendations-group427318991">
            <a class="recommendations-text11 sidehover" href="#">Bookmarks</a>
            <i class="fa-solid fa-bookmark recommendations-bookmarks"></i>
          </div>
          <div class="recommendations-group427318990">
            <a class="recommendations-text13 sidehover" href="#">Answer a Question</a>
            <i class="fa-solid fa-lightbulb recommendations-lightbulb"></i>
          </div>
          <div class="recommendations-group427318989">
            <a class="recommendations-text15 sidehover" href="#">Ask a Question</a>
            <i class="fa-solid fa-question recommendations-question"></i>
          </div>
          <div class="recommendations-group427318987">
            <a class="recommendations-text17 sidehover" href="#">Dashboard</a>
            <i class="fa-solid fa-user recommendations-user-circle"></i>
          </div>
        </div>
        <span class="recommendations-text19"><span>RECOMMENDATION</span></span>
        <span class="recommendations-text21">
          <span>
            <span>What is Bug Search?</span>
            <br />
            <span>
              Bug Search is a question and answer website for professional and
              enthusiast programmers. Users can post questions related to
              programming, and other users can provide answers and suggestions.
            </span>
            <br />
            <span></span>
            <br />
            <span>2. How do I ask a good question on Bug Search?</span>
            <br />
            <span>
              To ask a good question on Bug Search, make sure to do your research
              first, be specific about your problem, provide code examples and
              error messages, and format your question properly.
            </span>
            <br />
            <span></span>
            <br />
            <span>3. How do I answer a question on Bug Search?</span>
            <br />
            <span>
              To answer a question on Bug Search, make sure to read the question
              carefully, provide a clear and concise answer, and provide
              supporting evidence such as code examples or references.
            </span>
            <br />
            <span></span>
            <br />
            <span>4.What are tags in Bug Search?</span>
            <br />
            <span>
              Tags are keywords or labels that are attached to a question on Bug
              Search. They help categorize questions and make them easier to find
              for other users who are interested in that particular topic.
            </span>
            <br />
            <span></span>
            <br />
            <span>5. How do I earn reputation points on Bug Search?</span>
            <br />
            <span>
              Users can earn reputation points on Bug Search by asking and
              answering questions, editing posts
            </span>
            <br />
            <span>.</span>
          </span>
        </span>
        <div class="recommendations-group427319025">
            <span><button type="button" class="btn btn-primary recommendations-rectangle114">Question 1</button></span>
          <!-- <img
            src="/playground_assets/rectangle1141869-wlqe-200h.png"
            alt="Rectangle1141869"
            class="recommendations-rectangle114"
          /> -->
          <!-- <span class="recommendations-text52"></span> -->
          <span class="recommendations-text53">
            <!-- <span>Python warnings in multiple threads</span> -->
          </span>
          <span><button type="button" class="btn btn-primary recommendations-rectangle115">Question 1</button></span>
          <!-- <img
            src="/playground_assets/rectangle1151869-x5j-200h.png"
            alt="Rectangle1151869"
            class="recommendations-rectangle115"
          /> -->
          <!-- <span class="recommendations-text55"></span> -->
          <span class="recommendations-text56">
            <!-- <span>Lesson 01 : Introduction about XD</span> -->
          </span>
          <span><button type="button" class="btn btn-primary recommendations-rectangle116">Question 1</button></span>
          <!-- <img
            src="/playground_assets/rectangle1161869-k7zu-200h.png"
            alt="Rectangle1161869"
            class="recommendations-rectangle116"
          /> -->
          <span><button type="button" class="btn btn-primary recommendations-rectangle121">Question 1</button></span>
          <!-- <img
            src="/playground_assets/rectangle1211869-d0ih-200h.png"
            alt="Rectangle1211869"
            class="recommendations-rectangle121"
          /> -->
          <!-- <span class="recommendations-text58"></span> -->
          <!-- <span class="recommendations-text59"></span> -->
          <span class="recommendations-text60">
            <!-- <span>Lesson 01 : Introduction about XD</span> -->
          </span>
          <span class="recommendations-text62">
            <!-- <span>Lesson 01 : Introduction about XD</span> -->
          </span>
          <div class="recommendations-group427318992">
            <i class="fa-solid fa-globe recommendations-globe-stand"></i>
            <a class="recommendations-text64 sidehover" href="#">Trending</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  