<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link href="../static/search_user.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap" rel="stylesheet">

</head>
<body>
  



<div>
  
  <div>
    <div class="search-user-result-search-user-result">
      <div class="search-user-result-status">
        <div class="search-user-result-status01">
          <rect class="search-user-result-status01"></rect>
          <span class="search-user-result-text"><span>Views</span></span>
          <span class="search-user-result-text002"><span>721K</span></span>
          <div class="search-user-result-badge-tag">
            <span class="search-user-result-text004"><span>+11.01%</span></span>
          </div>
        </div>
        <div class="search-user-result-status02">
          <rect class="search-user-result-status02"></rect>
          <span class="search-user-result-text006"><span>Followers</span></span>
          <span class="search-user-result-text008"><span>367K</span></span>
          <div class="search-user-result-badge-tag1">
            <span class="search-user-result-text010"><span>+9.15%</span></span>
          </div>
        </div>
        <div class="search-user-result-status03">
          <rect class="search-user-result-status03"></rect>
          <span class="search-user-result-text012"><span>Posts</span></span>
          <span class="search-user-result-text014"><span>1,156</span></span>
          <div class="search-user-result-badge-tag2">
            <span class="search-user-result-text016"><span>-0.56%</span></span>
          </div>
        </div>
        <div class="search-user-result-status04">
          <rect class="search-user-result-status02"></rect>
          <span class="search-user-result-text018">
            <span>Reputation Points</span>
          </span>
          <span class="search-user-result-text020"><span>239K</span></span>
          <div class="search-user-result-badge-tag3">
            <span class="search-user-result-text022"><span>-1.48%</span></span>
          </div>
        </div>
      </div>
      <i class="fa-solid fa-user fa-8x search-user-result-vector"></i>
      <!-- <img
        src="/playground_assets/vector1887-zrm.svg"
        alt="Vector1887"
        class="search-user-result-vector"
      /> -->
      <span class="search-user-result-text024">
        <span class="search-user-result-text025">
          <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Poppins:wght@700&display=swap" rel="stylesheet">
          <span>Username : Dummy Name</span>
          <br />
          <span>Profession : Professor</span>
          <br />
          <span>Institute : Indian Institute of Technology Delhi</span>
          <br />
          <span>Age : XY Years</span>
          <br />
          <span></span>
        </span>
      </span>
      <div>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Poppins:wght@700&display=swap" rel="stylesheet">
      <span class="search-user-result-text037"><span>Badges Earned</span></span>
      <span class="search-user-result-text039"><span>Top Tags</span></span>
      <span class="search-user-result-text041"><span>Top Posts</span></span>
    </div>
    <div><link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Poppins:wght@700&display=swap" rel="stylesheet">
      <div class="search-user-result-group427318982">
        <div class="search-user-result-group427318978">
          <a href="#"><span class="search-user-result-text043 sidehover"><span>VHDL</span></span></a> 
          <i class="fa-sharp fa-solid fa-puzzle-piece search-user-result-puzzle-piece"></i>
          <!-- <img
            src="/playground_assets/puzzlepiece1887-qeu.svg"
            alt="PuzzlePiece1887"
            class="search-user-result-puzzle-piece"
          /> -->
        </div>
        <div class="search-user-result-group427318979">
          <a href="#"><span class="search-user-result-text045 sidehover">
            <span>Graph Theory</span>
          </span></a> 
          <i class="fa-solid fa-chart-simple search-user-result-graph"></i>
          <!-- <img
            src="/playground_assets/graph1887-wqmh.svg"
            alt="Graph1887"
            class="search-user-result-graph"
          /> -->
        </div>
        <div class="search-user-result-group427318977">
          <a href="#"><span class="search-user-result-text047 sidehover">
            <span>Computer Networks</span>
          </span></a> 
          <i class="fa-solid fa-computer search-user-result-plugs" style="color: #000000;"></i>
          <!-- <img
            src="/playground_assets/plugs1887-jzgm.svg"
            alt="Plugs1887"
            class="search-user-result-plugs"
          /> -->
        </div>
        <div class="search-user-result-group427318981">
          <div class="search-user-result-component1">
            <a href="#"><span class="search-user-result-text049 sidehover"><span>Github</span></span></a> 
            <i class="fa-brands fa-github search-user-result-github-logo"></i>
            <!-- <img
              src="/playground_assets/githublogoi188-9rh.svg"
              alt="GithubLogoI188"
              class="search-user-result-github-logo"
            /> -->
          </div>
        </div>
        <div class="search-user-result-group427318980">
          <a href="#"><span class="search-user-result-text051 sidehover"><span>Python</span></span></a> 
          <i class="fa-brands fa-python search-user-result-code"></i>
          <!-- <img
            src="/playground_assets/code1887-nlpe.svg"
            alt="Code1887"
            class="search-user-result-code"
          /> -->
        </div>
      </div>
      <img
        src="/playground_assets/line2491887-3j97.svg"
        alt="Line2491887"
        class="search-user-result-line249"
      />
      <div class="search-user-result-status05"></div>
      <div class="search-user-result-group427318999">
        <div class="search-user-result-group427318997">
            <button type="button" class="btn btn-primary search-user-result-status06 search-user-result-text055 ">Skip git commit hooks...</button>
        </div>
        <div class="search-user-result-group427318995">
          <button type="button" class="btn btn-primary search-user-result-status07 search-user-result-text057 ">Skip git commit hooks...</button>
        </div>
        <div class="search-user-result-group427318993">
          <button type="button" class="btn btn-primary search-user-result-status08 search-user-result-text059 ">Skip git commit hooks...</button>
        </div>
        <div class="search-user-result-group427318998">
          <button type="button" class="btn btn-primary search-user-result-status09 search-user-result-text061 ">Removing a submodule</button>
        </div>
        <div class="search-user-result-group427318994">
          <button type="button" class="btn btn-primary search-user-result-status10 search-user-result-text063 ">Removing a submodule</button>
        </div>
        <div class="search-user-result-group427318996">
          <button type="button" class="btn btn-primary search-user-result-status11 search-user-result-text065 ">Removing a submodule</button>
        </div>
      </div>
      </div>
      <div class="container-fluid">
        <!-- <div class="all-users-group427319017 "> -->
        <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
          <div class="container-fluid">
              <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
              <a class="navbar-brand" href="#">BugSearch</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <form class="d-flex search" role="search">
                  <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success search_btn" type="submit">Search</button>
                </form>
                <li class="nav-item badges-vector">
                  <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
                </li>
                <li class="nav-item username">
                  <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
                </li>
                <li class="nav-item logout">
                  <a class="nav-link active" aria-current="page" href="#">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Help</a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
      </div>
    </div>
      <!-- <div class="search-user-result-group427319017">
        <span class="search-user-result-text067"><span>Home</span></span>
        <img
          src="https://www.flaticon.com/free-icon/magnifying-glass_2811806?term=search&page=1&position=9&origin=search&related_id=2811806"
          alt="SearchBar1887"
          class="search-user-result-search-bar"
        />
        <div class="search-user-result-group455">
          <div class="search-user-result-group229">
            <span class="search-user-result-text069">
              <span>
                <span>LOGOUT</span>
                <br />
                <span></span>
              </span>
            </span>
          </div>
        </div>
        <span class="search-user-result-text074"><span>Help</span></span>
        <img
          src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd"
          alt="Untitleddesign511888"
          class="search-user-result-untitleddesign51"
        />
        <span class="search-user-result-text076"><span>BugSearch</span></span>
      </div> -->
      <div class="search-user-result-account-info">
        <!-- <span class="search-user-result-text078"><span>Username</span></span> -->
        <div class="search-user-result-group427318986">
          <!-- <img
            src="/playground_assets/notificon1888-wa9s.svg"
            alt="NotifIcon1888"
            class="search-user-result-notif-icon"
          /> -->
          <!-- <img
            src="/playground_assets/notifsign1888-zkns-200h.png"
            alt="NotifSign1888"
            class="search-user-result-notif-sign"
          /> -->
        </div>
      </div>
      <!-- <img
        src="/playground_assets/vector1888-xpaq.svg"
        alt="Vector1888"
        class="search-user-result-vector1"
      /> -->
      <div class="search-user-result-group2291">
        <!-- <span class="search-user-result-text080"><span>Follow</span></span> -->
        <button type="button" class="btn btn-primary search-user-result-text080 search-user-result-group2291 ">Follow</button>
      </div>
      <div class="search-user-result-group427319048">
        <div class="search-user-result-group427319045">
          <rect class="search-user-result-rectangle200"></rect>
          <!-- <img
            src="/playground_assets/rectangle2001882-9gtv-200h.png"
            alt="Rectangle2001882"
            class="search-user-result-rectangle200"
          /> -->
          <span class="search-user-result-text082">
            <span>Gold Badge</span>
          </span>
          <i class="fa-solid fa-medal fa-7x search-user-result-vector2" style="color: #FFD56F;"></i>
          <!-- <img
            src="/playground_assets/vector1882-uizj.svg"
            alt="Vector1882"
            class="search-user-result-vector2"
          /> -->
        </div>
        <div class="search-user-result-group427319046">
          <i class="fa-solid fa-medal fa-7x search-user-result-vector3" style="color: #BDCDD6;"></i>
          <!-- <img
            src="/playground_assets/vector1882-3woo.svg"
            alt="Vector1882"
            class="search-user-result-vector3"
          /> -->
          <span class="search-user-result-text084">
            <span>Silver Badge</span>
          </span>
        </div>
        <div class="search-user-result-group427319047">
          <i class="fa-solid fa-medal fa-7x new" style="color: #8D7B68;"></i>
          <!-- <img
            src="/playground_assets/vector1882-b1o.svg"
            alt="Vector1882"
            class="search-user-result-vector4"
          /> -->
          <span class="search-user-result-text086">
            <span>Bronze Badge</span>
          </span>
        </div>
      </div>
      <div class="search-user-result-sidebar-a">
        <div class="search-user-result-note-pencil"></div>
        <div class="search-user-result-group427318966">
          <a class="search-user-result-text088 sidehover" href="#">User Profile</a>
          <i class="fa-solid fa-user search-user-result-identification-badged"></i>
          <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights"></i>
        </div>
        <div class="search-user-result-group427318973">
          <i class="fa-solid fa-house search-user-result-identification-cardd"></i>
          <div class="search-user-result-group427318967">
            <a class="search-user-result-text090 sidehover" href="#">User Home</a>
            <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights01"></i>
          </div>
        </div>
        <div class="search-user-result-group427318974">
          <i class="fa-solid fa-users-line search-user-result-users-threed"></i>
          <div class="search-user-result-group427318968">
            <a class="search-user-result-text092 sidehover" href="#">Followers</a>
            <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights02"></i>
          </div>
        </div>
        <div class="search-user-result-group427318975">
          <i class="fa-solid fa-award search-user-result-vector1"></i>
          <div class="search-user-result-group427318969">
            <a class="search-user-result-text094 sidehover" href="#">Badges</a>
            <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights03"></i>
          </div>
        </div>
        <div class="search-user-result-group427319041">
          <i class="fa-solid fa-pen-to-square search-user-result-vector2"></i>
          <a class="search-user-result-text096 sidehover" href="#">Edit Profile</a>
          <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights04"></i>
        </div>
        <div class="search-user-result-group427319042">
          <a class="search-user-result-text098 sidehover" href="#">Posted Questions</a>
          <i class="fa-solid fa-question search-user-result-seal-question"></i>
          <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights05"></i>
        </div>
        <div class="search-user-result-group427318984">
          <a class="search-user-result-text100 sidehover" href="#">Following</a>
          <i class="fa-solid fa-user-group search-user-result-users"></i>
          <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights06"></i>
        </div>
        <div class="search-user-result-group427319040">
          <a class="search-user-result-text102 sidehover" href="#">Posted Answers</a>
          <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights07"></i>
          <i class="fa-solid fa-lightbulb search-user-result-vector3"></i>
        </div>
        <div class="search-user-result-group427319044">
          <a class="search-user-result-text104 sidehover" href="#">Posted Comments</a>
          <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights08"></i>
          <i class="fa-solid fa-comment search-user-result-chats-circle"></i>
        </div>
        <div class="search-user-result-group4273189741">
          <i class="fa fa-users search-user-result-users-threed1"></i>
          <div class="search-user-result-group4273189681">
            <a class="search-user-result-text106 sidehover" href="#">All Users</a>
            <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights09"></i>
          </div>
        </div>
        <div class="search-user-result-group427319043">
          <i class="fa-solid fa-bookmark search-user-result-bookmarks"></i>
          <div class="search-user-result-group4273189682">
            <a class="search-user-result-text108 sidehover" href="#">Bookmarks</a>
            <i class="fa-solid fa-angle-right search-user-result-arrow-line-rights10"></i>
          </div>
        </div>
        <div class="search-user-result-profilename">
          <i class="fa-solid fa-user fa-2x user_icon search-user-result-vector4"></i>
          <a class="search-user-result-text110 sidehover" href="#">Username</a>
        </div>
        <span class="search-user-result-text112"><span>BugSearch</span></span>
      </div>
      <!-- <div class="search-user-result-sidebar-a">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@700&display=swap" rel="stylesheet">
        <div class="search-user-result-note-pencil"></div>
        <div class="search-user-result-group427318966">
          <span class="search-user-result-text088">
            <span>User Profile</span>
          </span>
          <i class="fa-solid fa-id-badge"></i>
          <img
            src="https://fontawesome.com/icons/id-badge?f=classic&s=solid"
            alt="IdentificationBadged1882"
            class="search-user-result-identification-badged"
          />
          <img
            src="/playground_assets/arrowlinerights1882-41r.svg"
            alt="ArrowLineRights1882"
            class="search-user-result-arrow-line-rights"
          />
        </div>
        <div class="search-user-result-group427318973">
          <img
            src="/playground_assets/identificationcardd1882-9q1l.svg"
            alt="IdentificationCardd1882"
            class="search-user-result-identification-cardd"
          />
          <div class="search-user-result-group427318967">
            <span class="search-user-result-text090">
              <span>User Home</span>
            </span>
            <img
              src="/playground_assets/arrowlinerights1882-qwen.svg"
              alt="ArrowLineRights1882"
              class="search-user-result-arrow-line-rights01"
            />
          </div>
        </div>
        <div class="search-user-result-group427318974">
          <img
            src="/playground_assets/usersthreed1882-8ba.svg"
            alt="UsersThreed1882"
            class="search-user-result-users-threed"
          />
          <div class="search-user-result-group427318968">
            <span class="search-user-result-text092">
              <span>Followers</span>
            </span>
            <img
              src="/playground_assets/arrowlinerights1882-egtx.svg"
              alt="ArrowLineRights1882"
              class="search-user-result-arrow-line-rights02"
            />
          </div>
        </div>
        <div class="search-user-result-group427318975">
          <img
            src="/playground_assets/vector1882-zek5.svg"
            alt="Vector1882"
            class="search-user-result-vector5"
          />
          <div class="search-user-result-group427318969">
            <span class="search-user-result-text094"><span>Badges</span></span>
            <img
              src="/playground_assets/arrowlinerights1882-wa9.svg"
              alt="ArrowLineRights1882"
              class="search-user-result-arrow-line-rights03"
            />
          </div>
        </div>
        <div class="search-user-result-group427319041">
          <img
            src="/playground_assets/vector1882-6an8.svg"
            alt="Vector1882"
            class="search-user-result-vector6"
          />
          <span class="search-user-result-text096">
            <span>Edit Profile</span>
          </span>
          <img
            src="/playground_assets/arrowlinerights1882-03f4.svg"
            alt="ArrowLineRights1882"
            class="search-user-result-arrow-line-rights04"
          />
        </div>
        <div class="search-user-result-group427319042">
          <span class="search-user-result-text098">
            <span>Posted Questions</span>
          </span>
          <img
            src="/playground_assets/sealquestion1882-58p.svg"
            alt="SealQuestion1882"
            class="search-user-result-seal-question"
          />
          <img
            src="/playground_assets/arrowlinerights1882-rzpq.svg"
            alt="ArrowLineRights1882"
            class="search-user-result-arrow-line-rights05"
          />
        </div>
        <div class="search-user-result-group427318984">
          <span class="search-user-result-text100"><span>Following</span></span>
          <img
            src="/playground_assets/arrowlinerights1882-bqg.svg"
            alt="ArrowLineRights1882"
            class="search-user-result-arrow-line-rights06"
          />
          <img
            src="/playground_assets/users1882-5wy8.svg"
            alt="Users1882"
            class="search-user-result-users"
          />
        </div>
        <div class="search-user-result-group427319040">
          <span class="search-user-result-text102">
            <span>Posted Answers</span>
          </span>
          <img
            src="/playground_assets/arrowlinerights1882-5xqt.svg"
            alt="ArrowLineRights1882"
            class="search-user-result-arrow-line-rights07"
          />
          <img
            src="/playground_assets/vector1882-fnk5.svg"
            alt="Vector1882"
            class="search-user-result-vector7"
          />
        </div>
        <div class="search-user-result-group427319044">
          <span class="search-user-result-text104">
            <span>Posted Comments</span>
          </span>
          <img
            src="/playground_assets/arrowlinerights1882-cu9d.svg"
            alt="ArrowLineRights1882"
            class="search-user-result-arrow-line-rights08"
          />
          <img
            src="/playground_assets/chatscircle1882-gr7s.svg"
            alt="ChatsCircle1882"
            class="search-user-result-chats-circle"
          />
        </div>
        <div class="search-user-result-group4273189741">
          <img
            src="/playground_assets/usersthreed1882-suso.svg"
            alt="UsersThreed1882"
            class="search-user-result-users-threed1"
          />
          <div class="search-user-result-group4273189681">
            <span class="search-user-result-text106">
              <span>All Users</span>
            </span>
            <img
              src="/playground_assets/arrowlinerights1882-c9su.svg"
              alt="ArrowLineRights1882"
              class="search-user-result-arrow-line-rights09"
            />
          </div>
        </div>
        <div class="search-user-result-group427319043">
          <img
            src="/playground_assets/bookmarks1882-1dzq.svg"
            alt="Bookmarks1882"
            class="search-user-result-bookmarks"
          />
          <div class="search-user-result-group4273189682">
            <span class="search-user-result-text108">
              <span>Bookmarks</span>
            </span>
            <img
              src="/playground_assets/arrowlinerights1882-f4dqi.svg"
              alt="ArrowLineRights1882"
              class="search-user-result-arrow-line-rights10"
            />
          </div>
        </div>
        <div class="search-user-result-profilename">
          <img
            src="/playground_assets/vectori188-k8yk.svg"
            alt="VectorI188"
            class="search-user-result-vector8"
          />
          <span class="search-user-result-text110"><span>Username</span></span>
        </div>
        <span class="search-user-result-text112"><span>BugSearch</span></span>
      </div> -->
    </div>
  </div>
</div>
</body>
</html>













