<!DOCTYPE html>
<html lang="en">
<!-- @login_required not necessary-->
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@700&display=swap" rel="stylesheet">    
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="{{ url_for ('static',filename='assets/images/logo.png') }}" alt="image">
  <title>BugSearch</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


  <!-- Additional CSS Files -->

<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-scholar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css') }}">
<link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/our_c.css') }}">
  
<!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
</head>

<body>

  <!-- ** Preloader Start ** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ** Preloader End ** -->

  <!-- ** Header Area Start ** -->
  <header class="header-area header-sticky background-header fixed-topp">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav navcolor navbar-dark">
                    <!-- ** Logo Start ** -->
                    <a href="{{url_for('homepage')}}" class="logo">
                        <h1 id="title">BugSearch</h1>
                    </a>
                    <!-- ** Logo End ** -->
                    <!-- ** Serach Start ** -->
                    <div class="search-input">
                      <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
                    <!-- ** Serach Start ** -->
                    <!-- ** Menu Start ** -->
                    <ul class="nav">
                      <!-- <li class="scroll-to-section"><a href="#top" class="active">Home</a></li> -->
                      <!-- <li class="scroll-to-section"><a href="#services">Login</a></li> -->
                      <li class="scroll-to-section"><a href="{{url_for('homepage')}}">Home</a></li>
                      <li class="scroll-to-section"><a href="{{url_for('userlogin')}}">Login</a></li>
                      <li class="scroll-to-section"><a href="{{url_for('signup')}}">Sign Up</a></li>
                      <li class="scroll-to-section"><a href="{{url_for('help')}}">Help</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ** Menu End ** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ** Header Area End ** --> 

  <div class="contact-us ch section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  align-self-center">
          <!-- <img src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/ad7d7f577e3b59ba97e1d824c439289ba1498968"> -->
          <div>
            <h6 class="sec-head">Welcome to BugSearch !</h6>
            <img src="https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/842ba163482f3bbbd84578ae87df036756735251">
            <!-- <h6>Contact Us</h6>
            <h2>Feel free to contact us anytime</h2>
            <p>Thank you for choosing our templates. We provide you best CSS templates at absolutely 100% free of charge. You may support us by sharing our website to your friends.</p>
            <div class="special-offer">
              <span class="offer">off<br><em>50%</em></span>
              <h6>Valide: <em>24 April 2036</em></h6>
              <h4>Special Offer <em>50%</em> OFF!</h4>
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-us-content">
            <form id="contact-form" action="{{url_for('signup')}}" method="post">
              {% for message in get_flashed_messages() %} 
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %} 
              <div class="row">

                <div class="col-lg-12">
                  <span class="tagline">Email address</span>
                  <fieldset>
                    <input type="name" name="email_id" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail ..." autocomplete="on" required  value="{{request.form['email_id']}}">
                  </fieldset>
                </div>
                <br>
                <div class="col-lg-12">
                  <span class="tagline">Username</span>
                  <fieldset>
                    <input type="text" name="username" id="name" placeholder="Your Username..." required="" value="{{request.form['username']}}">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                    <span class="tagline">Password</span>
                    <fieldset>
                      <input type="password" name="passcode" id="name" placeholder="Your Password..." required="" value="{{request.form['password']}}">
                    </fieldset>
                </div>
                <!-- <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" id="message" placeholder="Your Message"></textarea>
                  </fieldset>
                </div> -->
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="styleb orange-button">Register
                                          <span class="first"></span>
                      <span class="second"></span>
                      <span class="third"></span>
                      <span class="fourth"></span></button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2036 BugSearch. All rights reserved. &nbsp;&nbsp;&nbsp; Design: BugSearch</p>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/counter.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
  <!-- <script src="assets/js/our.jss"></script> -->

  </body>
</html>
