<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/user_home.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>
    <div>
      <div class="user-home-page-user-home-page">
        <span class="user-home-page-text"><span>Recent Activity</span></span>
        <span class="user-home-page-text02">
          <span>Local Maxima of an Array</span>
        </span>
        <span class="user-home-page-text04">
          <span>Local Maxima of an Array</span>
        </span>
        <span class="user-home-page-text06">
          <span>Get user input and print into file</span>
        </span>
        <span class="user-home-page-text08">
          <span>Get user input and print into file</span>
        </span>
        <span class="user-home-page-text10">
          <span>
            Recursively slicing first three elements of an array at every level
          </span>
        </span>
        <span class="user-home-page-text12">
          <span>
            Recursively slicing first three elements of an array at every level
          </span>
        </span>
        <div class="user-home-page-frame427319030">
          <span class="user-home-page-text14">
            <span>
              Given the following nested array of objects. Id is unique for all
              the objects. const comments = [ &#123; id: 1, text: &quot;First
              comment!&quot;, parentId: null, comments: [ &#123; ...
            </span>
          </span>
        </div>
        <span class="user-home-page-text16">
          <span>
            I would like to add a feature in below code to check both fruit and
            info input provided by user in cmd exist in the file. Meanwhile to
            fulfill 3 requirements below, first and..........
          </span>
        </span>
        <span class="user-home-page-text18">
          <span>
            Given an unsorted array, we need to find the local maxima of the array
            with time complexity O(log n). Note: The local maxima cannot be at the
            extreme ends of th...........
          </span>
        </span>
        <span class="user-home-page-text20">
          <span>
            Given an unsorted array, we need to find the local maxima of the array
            with time complexity O(log n). Note: The local maxima cannot be at the
            extreme ends of th...........
          </span>
        </span>
        <span class="user-home-page-text22">
          <span>
            I would like to add a feature in below code to check both fruit and
            info input provided by user in cmd exist in the file. Meanwhile to
            fulfill 3 requirements below, first and..........
          </span>
        </span>
        <span class="user-home-page-text24">
          <span>
            Given the following nested array of objects. Id is unique for all the
            objects. const comments = [ &#123; id: 1, text: &quot;First
            comment!&quot;, parentId: null, comments: [ &#123; ...
          </span>
        </span>
        <div class="user-home-page-group427319020">
            <span><button type="button" class="btn btn-primary user-home-page-rectangle114">Question 1</button></span>
          <span><button type="button" class="btn btn-primary user-home-page-rectangle115">Question 1</button></span>
          <span><button type="button" class="btn btn-primary user-home-page-rectangle116">Question 1</button></span>
          <span><button type="button" class="btn btn-primary user-home-page-rectangle121">Question 1</button></span>
          <span><button type="button" class="btn btn-primary user-home-page-rectangle118">Question 1</button></span>
          <span><button type="button" class="btn btn-primary user-home-page-rectangle119">Question 1</button></span>
          <span><button type="button" class="btn btn-primary user-home-page-rectangle120">Question 1</button></span>
          <span><button type="button" class="btn btn-primary user-home-page-rectangle122">Question 1</button></span>
          <div class="user-home-page-group427318991">
            <a class="user-home-page-text50 sidehover" href="#">Bookmarks</a>
            <i class="fa-solid fa-bookmark user-home-page-bookmarks1"></i>
          </div>
          <div class="user-home-page-group427318990">
            <a class="user-home-page-text52 sidehover" href="#">Answer a Question</a>
            <i class="fa-solid fa-lightbulb user-home-page-lightbulb"></i>
          </div>
          <div class="user-home-page-group427318989">
            <a class="user-home-page-text54 sidehover" href="#">Ask a Question</a>
            <i class="fa-solid fa-question user-home-page-question"></i>
          </div>
          <div class="user-home-page-group427318992">
            <a class="user-home-page-text56 sidehover" href="#">Trending</a>
            <i class="fa-solid fa-globe user-home-page-globe-stand"></i>
          </div>
          <div class="user-home-page-group427318987">
            <a class="user-home-page-text58 sidehover" href="#">Dashboard</a>
            <i class="fa-solid fa-user user-home-page-user-circle"></i>
          </div>
          <div class="user-home-page-group427318988">
            <a class="user-home-page-text60 sidehover" href="#">Recommendations</a>
            <i class="fa-solid fa-wand-magic-sparkles user-home-page-magic-wand"></i>
          </div>
        </div>
        <!-- <div class="user-home-page-group427319019"> -->
          <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
            <div class="container-fluid">
                <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
                <a class="navbar-brand" href="{{url_for('login_home')}}">BugSearch</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('user_home(user_id)')}}">Home</a>
                  </li>
                  <form class="d-flex search" role="search">
                    <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success search_btn" type="submit">Search</button>
                  </form>
                  <li class="nav-item badges-vector">
                    <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
                  </li>
                  <li class="nav-item username">
                    <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
                  </li>
                  <li class="nav-item logout">
                    <a class="nav-link active" aria-current="page" href="{{url_for('login_home')}}">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('help_page')}}">Help</a>
                  </li>
                </ul>       
              </div>
            </div>
          </nav>
</div>
      </div>
    </div>

  