<head>
    <meta charset="UTF-8">  
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="html, html tutorials, web development">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0e3a433eeb.js" crossorigin="anonymous"></script>
    <link href="../static/all_users.css" rel="stylesheet" />
    <title>CSS Tutorial</title>
</head>
<div class="all-users-all-users">
  <div class="container-fluid">
  <div class="all-users-group427319017 ">
  <nav class="navbar navbar-expand-lg navcolor navbar-dark cont">
    <div class="container-fluid">
        <img class = "logo" src = "https://www.figma.com/file/7KFxGA0vLIeYhf85DahLUR/image/b9c586039aa60204d819a86debfa978b37fbf6fd">
        <a class="navbar-brand" href="#">BugSearch</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <form class="d-flex search" role="search">
            <input class="form-control me-2 searchbar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search_btn" type="submit">Search</button>
          </form>
          <li class="nav-item badges-vector">
            <i class="fa-solid fa-user fa-2x user_icon_nav "></i>
          </li>
          <li class="nav-item username">
            <a class="nav-link-active userfont" aria-current="page" href="#">Username</a>
          </li>
          <li class="nav-item logout">
            <a class="nav-link active" aria-current="page" href="#">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Help</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</div>
</div>
        <div class="container-xxl">
        <div class="all-users-group427319030">
          <div class="all-users-group427319026">
            <button type="button" class="btn btn-primary all-users-status"></button>
            <img src="/playground_assets/vector1881-76r.svg" alt="Vector1881" class="all-users-vector"/>
            <span class="all-users-text12"><span>User</span></span>
          </div>
          <div class="all-users-group427319028">
            <button type="button" class="btn btn-primary all-users-status"></button>
            <img src="/playground_assets/vector1881-uuzo.svg" alt="Vector1881" class="all-users-vector01"/>
            <span class="all-users-text15"><span>User</span></span>
          </div>
          <div class="all-users-group427319027">
            <button type="button" class="btn btn-primary all-users-status02"></button>
            <img src="/playground_assets/vector1881-k939.svg" alt="Vector1881" class="all-users-vector02"/>
            <span class="all-users-text17"><span>User</span></span>
          </div>
          <div class="all-users-group427319029">
            <button type="button" class="btn btn-primary all-users-status02"></button>
            <img src="/playground_assets/vector1881-znuj.svg" alt="Vector1881" class="all-users-vector03"/>
            <span class="all-users-text19"><span>User</span></span>
          </div>
        </div>
        <div class="all-users-group427319032">
          <div class="all-users-group4273190261">
            <button type="button" class="btn btn-primary all-users-status"></button>
            <img src="/playground_assets/vector1881-4sya.svg" alt="Vector1881" class="all-users-vector04"/>
            <span class="all-users-text22"><span>User</span></span>
          </div>
          <div class="all-users-group4273190281">
            <button type="button" class="btn btn-primary all-users-status"></button>
            <img src="/playground_assets/vector1881-342q.svg" alt="Vector1881" class="all-users-vector05"/>
            <span class="all-users-text25"><span>User</span></span>
          </div>
          <div class="all-users-group4273190271">
            <button type="button" class="btn btn-primary all-users-status02"></button>
            <img src="/playground_assets/vector1881-y0kf.svg" alt="Vector1881" class="all-users-vector06"/>
            <span class="all-users-text27"><span>User</span></span>
          </div>
          <div class="all-users-group4273190291">
            <button type="button" class="btn btn-primary all-users-status02"></button>
            <img src="/playground_assets/vector1881-s7c6.svg" alt="Vector1881" class="all-users-vector07"/>
            <span class="all-users-text29"><span>User</span></span>
          </div>
        </div>
        <div class="all-users-group427319033">
          <div class="all-users-group427319031">
            <div class="all-users-group4273190262">
                <button type="button" class="btn btn-primary all-users-status"></button>
              <img src="/playground_assets/vector1881-0iv.svg" alt="Ve1" class="all-users-vector08"/>
              <span class="all-users-text32"><span>User</span></span>
            </div>
            <div class="all-users-group4273190272">
                <button type="button" class="btn btn-primary all-users-status02"></button>
              <img src="/playground_assets/vector1881-v6k.svg" alt="Ve1" class="all-users-vector09"/>
              <span class="all-users-text34"><span>User</span></span>
            </div>
            <div class="all-users-group4273190292">
                <button type="button" class="btn btn-primary all-users-status02"></button>
              <img src="/playground_assets/vector1881-ym6.svg" alt="Ve1" class="all-users-vector10"/>
              <span class="all-users-text36"><span>User</span></span>
            </div>
          </div>
          <div class="all-users-group4273190282">
            <button type="button" class="btn btn-primary all-users-status"></button>
            <img src="/playground_assets/vector1881-7uox.svg" alt="Vector1881" class="all-users-vector11"/>
            <span class=ers-text39"><span>User</span></span>
          </div>
        </div>
      </div>
        <!-- sidebar -->
        <div class="all-users-sidebar-a">
          <div class="all-users-note-pencil"></div>
          <div class="all-users-group427318966">
            <a class="all-users-text41 sidehover" href="#">User Profile</a>
            <i class="fa-solid fa-user all-users-identification-badged"></i>
            <i class="fa-solid fa-angle-right all-users-arrow-line-rights"></i>
          </div>
          <div class="all-users-group427318973">
            <i class="fa-solid fa-house all-users-identification-cardd"></i>
            <div class="all-users-group427318967">
              <a class="all-users-text43 sidehover" href="#">User Home</a>
              <i class="fa-solid fa-angle-right all-users-arrow-line-rights01"></i>
            </div>
          </div>
          <div class="all-users-group427318974">
            <i class="fa-solid fa-users-line all-users-users-threed"></i>
            <div class="all-users-group427318968">
              <a class="all-users-text45 sidehover" href="#">Followers</a>
              <i class="fa-solid fa-angle-right all-users-arrow-line-rights02"></i>
            </div>
          </div>
          <div class="all-users-group427318975">
            <i class="fa-solid fa-award all-users-vector12"></i>
            <div class="all-users-group427318969">
              <a class="all-users-text47 sidehover" href="#">Badges</a>
              <i class="fa-solid fa-angle-right all-users-arrow-line-rights03"></i>
            </div>
          </div>
          <div class="all-users-group427319041">
            <i class="fa-solid fa-pen-to-square all-users-vector13"></i>
            <a class="all-users-text49 sidehover" href="#">Edit Profile</a>
            <i class="fa-solid fa-angle-right all-users-arrow-line-rights04"></i>
          </div>
          <div class="all-users-group427319042">
            <a class="all-users-text51 sidehover" href="#">Posted Questions</a>
            <i class="fa-solid fa-question all-users-seal-question"></i>
            <i class="fa-solid fa-angle-right all-users-arrow-line-rights05"></i>
          </div>
          <div class="all-users-group427318984">
            <a class="all-users-text53 sidehover" href="#">Following</a>
            <i class="fa-solid fa-user-group all-users-users"></i>
            <i class="fa-solid fa-angle-right all-users-arrow-line-rights06"></i>
          </div>
          <div class="all-users-group427319040">
            <a class="all-users-text55 sidehover" href="#">Posted Answers</a>
            <i class="fa-solid fa-angle-right all-users-arrow-line-rights07"></i>
            <i class="fa-solid fa-lightbulb all-users-vector14"></i>
          </div>
          <div class="all-users-group427319044">
            <a class="all-users-text57 sidehover" href="#">Posted Comments</a>
            <i class="fa-solid fa-angle-right all-users-arrow-line-rights08"></i>
            <i class="fa-solid fa-comment all-users-chats-circle"></i>
          </div>
          <div class="all-users-group4273189741">
            <i class="fa fa-users all-users-users-threed1"></i>
            <div class="all-users-group4273189681">
              <a class="all-users-text59 sidehover" href="#">All Users</a>
              <i class="fa-solid fa-angle-right all-users-arrow-line-rights09"></i>
            </div>
          </div>
          <div class="all-users-group427319043">
            <i class="fa-solid fa-bookmark all-users-bookmarks"></i>
            <div class="all-users-group4273189682">
              <a class="all-users-text61 sidehover" href="#">Bookmarks</a>
              <i class="fa-solid fa-angle-right all-users-arrow-line-rights10"></i>
            </div>
          </div>
          <div class="all-users-profilename">
            <i class="fa-solid fa-user fa-2x user_icon all-users-vector4"></i>
            <a class="all-users-text63 sidehover" href="#">Username</a>
          </div>
          <span class="all-users-text65"><span>BugSearch</span></span>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>
  </html>
  